---
const { ...info } = Astro.props;
---

<section
  id="pagos"
  class="my-20 flex flex-col w-full mx-auto space-y-10 text-[#f0f3ff] text-opacity-90"
>
  <h2
    class="text-center text-2xl text-balance tracking-tight uppercase sm:text-4xl font-bold"
  >
    MÉTODOS DE DEPÓSITOS Y RETIROS DE {info.name}
  </h2>
  <!-- Payments Methods -->
  <article>
    <div class="space-y-2">
      <p class="text-pretty tracking-tight">
        <strong>{info.name}</strong> destaca por su compromiso de brindar a los jugadores
        una experiencia de juego integral y segura. Con el objetivo de asegurar la
        comodidad, rapidez y protección de los apostadores, han implementado una
        amplia variedad de métodos de pago tanto para depósitos como para retiros.
        Así, podrás concentrarte en lo que realmente importa: sumergirte en la emoción
        del juego de apuestas.
      </p>

      <p class="text-pretty tracking-tight">
        Además, para ofrecer aún más flexibilidad, se aceptan criptomonedas,
        aunque es importante tener en cuenta que esta opción está disponible
        <span class="underline">solo en ciertas regiones de Latinoamérica.</span
        > Te recomendamos contactar a servicio al cliente desde el chat en vivo para
        saber más.
      </p>

      <p class="text-pretty tracking-tight">
        A continuación, te presentamos los métodos más frecuentemente elegidos
        por los usuarios:
      </p>
    </div>

    <!-- Payments Methods -->
    <div
      class="flex flex-row flex-wrap sm:flex-nowrap w-full gap-10 mx-auto mt-10"
    >
      <!-- Tradicional Payments -->
      <div
        class="flex flex-wrap w-full sm:w-1/2 h-auto py-10 px-5 border rounded-xl border-t-2 border-slate-800 bg-gradient-to-t from-black/60 to-slate-950 focus:outline-none focus:border-[#f0f3ff]"
      >
        <h3
          class="inline-flex mx-auto text-center text-balance tracking-tight text-xl sm:text-2xl font-semibold mb-2"
        >
          Métodos de pago más comunes
        </h3>
        <div
          class="flex flex-wrap justify-center items-center mx-auto p-2 gap-5"
        >
          <img
            src="/payments/common/visa.svg"
            alt="Visa"
            width="60"
            height="60"
            loading="lazy"
          />
          <img
            src="/payments/common/mastercard.svg"
            alt="Master Card"
            width="48"
            height="40"
            loading="lazy"
          />
          <img
            src="/payments/common/skrill.svg"
            alt="Skrill"
            width="60"
            height="60"
            loading="lazy"
          />
          <img
            src="/payments/common/interac.svg"
            alt="Interac"
            width="40"
            height="36"
            loading="lazy"
          />
          <img
            src="/payments/common/mifinity.svg"
            alt="Mifinity"
            width="96"
            height="96"
            loading="lazy"
          />
          <img
            src="/payments/common/payz.svg"
            alt="Payz"
            width="60"
            height="60"
            loading="lazy"
          />
          <img
            src="/payments/common/neteller.svg"
            alt="Neteller"
            width="60"
            height="60"
            loading="lazy"
          />
          <img
            src="/payments/common/paysafe-card.svg"
            alt="Paysafe Card"
            width="96"
            height="96"
            loading="lazy"
          />
          <img
            src="/payments/common/bank-transfer.svg"
            alt="Bank Transfer"
            width="96"
            height="96"
            loading="lazy"
          />
        </div>
      </div>

      <!-- Crypto Payments -->
      <div
        class="flex flex-wrap w-full sm:w-1/2 h-auto py-10 px-5 border rounded-xl border-t-2 border-slate-800 bg-gradient-to-t from-black/60 to-slate-950 focus:outline-none focus:border-[#f0f3ff]"
      >
        <h3
          class="inline-flex mx-auto text-center text-balance tracking-tight text-xl sm:text-2xl font-semibold mb-2"
        >
          Criptomonedas más comunes
        </h3>
        <div
          class="flex flex-wrap justify-center items-center mx-auto p-2 gap-5"
        >
          <img
            src="/payments/crypto/bitcoin.svg"
            alt="Bitcoin"
            width="48"
            height="48"
            loading="lazy"
          />
          <img
            src="/payments/crypto/tether.svg"
            alt="Tether"
            width="48"
            height="48"
            loading="lazy"
          />
          <img
            src="/payments/crypto/ethereum.svg"
            alt="Etherum"
            width="36"
            height="36"
            loading="lazy"
          />
          <img
            src="/payments/crypto/litecoin.svg"
            alt="Litecoin"
            width="48"
            height="48"
            loading="lazy"
          />
          <img
            src="/payments/crypto/ripple.svg"
            alt="Ripple"
            width="36"
            height="36"
            loading="lazy"
          />
        </div>
      </div>
    </div>

    <!-- Comisión -->
    <div class="flex flex-col w-full mx-auto my-10">
      <h3 class="font-semibold text-balance tracking-tight text-lg">
        ¿EXISTEN CARGOS ADICIONALES EN FEZBET POR DEPÓSITOS Y RETIROS, Y CÓMO
        PUEDO EVITARLOS?
      </h3>
      <div class="space-y-2">
        <p class="text-pretty tracking-tight">
          <strong>{info.name}</strong> no cobra comisiones por depósitos ni retiros.
          Sin embargo, algunos métodos de pago pueden aplicar cargos adicionales,
          como por ejemplo los monederos electrónicos. Te recomiendo que consultes
          las condiciones específicas de cada método antes de realizar una transacción.
        </p>
      </div>
    </div>
  </article>
</section>
