---
import Layout from "../../layout/layout.astro";
import { operators, Operator } from "../../lib/data";

const operator = operators.find((operator) => operator.name === "Stake")!;
if (!operator) return Astro.redirect("/404");

const { name, rating, promocode } = operator;
---

<Layout>
  <h1>{name}</h1>
  <p>{promocode}</p>
  <p>{rating}</p>
</Layout>
