---
const { ...info } = Astro.props;
---

<section
  id="pagos"
  class="my-20 flex flex-col w-full mx-auto space-y-10 text-[#f0f3ff] text-opacity-90"
>
  <h2
    class="text-center text-2xl text-balance tracking-tight uppercase sm:text-4xl font-bold"
  >
    MÉTODOS DE DEPÓSITOS Y RETIROS DE {info.name}
  </h2>
  <!-- Payments Methods -->
  <article>
    <div class="space-y-2">
      <p class="text-pretty tracking-tight">
        <strong>{info.name}</strong> nos ofrece una amplia variedad de métodos de
        pago, que abarcan desde criptomonedas hasta opciones tradicionales. Además,
        se actualiza regularmente para incluir nuevas alternativas, asegurando así
        una experiencia siempre actualizada y adaptada a las necesidades cambiantes.
      </p>
      <p class="text-pretty tracking-tight">
        A continuación, te presentamos las opciones más populares entre los
        jugadores en la actualidad, destacando por su rapidez, facilidad y
        seguridad en las transacciones.
      </p>
    </div>

    <!-- Payments Methods -->
    <div
      class="flex flex-row flex-wrap sm:flex-nowrap w-full gap-10 mx-auto mt-10"
    >
      <!-- Tradicional Payments -->
      <div
        class="flex flex-wrap w-full sm:w-1/2 h-auto py-10 px-5 border rounded-xl border-t-2 border-slate-800 bg-gradient-to-t from-black/60 to-slate-950 focus:outline-none focus:border-[#f0f3ff]"
      >
        <h3
          class="inline-flex mx-auto text-center text-balance tracking-tight text-xl sm:text-2xl font-semibold mb-2"
        >
          Métodos de pago más comúnes
        </h3>
        <div
          class="flex flex-wrap justify-center items-center mx-auto p-2 gap-1"
        >
          <img
            src="/payments/common/skrill-1-tap.svg"
            alt="Skrill 1 Tap"
            width="54"
            height="54"
            loading="lazy"
          />
          <img
            src="/payments/common/paysafe-card.svg"
            alt="Paysafe Card"
            width="72"
            height="72"
            loading="lazy"
          />
          <img
            src="/payments/common/airtm.svg"
            alt="Airtm"
            width="60"
            height="60"
            loading="lazy"
          />
          <img
            src="/payments/common/payz.svg"
            alt="Payz"
            width="60"
            height="60"
            loading="lazy"
          />
          <img
            src="/payments/common/skrill.svg"
            alt="Skrill"
            width="60"
            height="60"
            loading="lazy"
          />
          <img
            src="/payments/common/visa.svg"
            alt="Visa"
            width="60"
            height="60"
            loading="lazy"
          />
          <img
            src="/payments/common/mastercard.svg"
            alt="Master Card"
            width="48"
            height="40"
            loading="lazy"
          />
          <img
            src="/payments/common/neteller.svg"
            alt="Neteller"
            width="72"
            height="72"
            loading="lazy"
          />
          <img
            src="/payments/common/astropay.svg"
            alt="AstroPay"
            width="72"
            height="72"
            loading="lazy"
          />
          <img
            src="/payments/common/oxxo.svg"
            alt="Oxxo"
            width="54"
            height="54"
            loading="lazy"
          />
        </div>
      </div>

      <!-- Crypto Payments -->
      <div
        class="flex flex-wrap w-full sm:w-1/2 h-auto py-10 px-5 border rounded-xl border-t-2 border-slate-800 bg-gradient-to-t from-black/60 to-slate-950 focus:outline-none focus:border-[#f0f3ff]"
      >
        <h3
          class="inline-flex mx-auto text-center text-balance tracking-tight text-xl sm:text-2xl font-semibold mb-2"
        >
          Criptomonedas más comúnes
        </h3>
        <div
          class="flex flex-wrap justify-center items-center mx-auto p-2 gap-3"
        >
          <img
            src="/payments/crypto/dai.svg"
            alt="Dai"
            width="32"
            height="32"
            loading="lazy"
          />
          <img
            src="/payments/crypto/litecoin.svg"
            alt="Litecoin"
            width="32"
            height="32"
            loading="lazy"
          />
          <img
            src="/payments/crypto/bitcoin.svg"
            alt="Bitcoin"
            width="32"
            height="32"
            loading="lazy"
          />
          <img
            src="/payments/crypto/tether.svg"
            alt="Tether"
            width="32"
            height="32"
            loading="lazy"
          />
          <img
            src="/payments/crypto/tron.svg"
            alt="Tron"
            width="32"
            height="32"
            loading="lazy"
          />
          <img
            src="/payments/crypto/xrp.svg"
            alt="XRP"
            width="32"
            height="32"
            loading="lazy"
          />
          <img
            src="/payments/crypto/solana.svg"
            alt="Solana"
            width="32"
            height="32"
            loading="lazy"
          />
          <img
            src="/payments/crypto/dogecoin.svg"
            alt="Dogecoin"
            width="32"
            height="32"
            loading="lazy"
          />
          <img
            src="/payments/crypto/toncoin.svg"
            alt="Toncoin"
            width="32"
            height="32"
            loading="lazy"
          />
          <img
            src="/payments/crypto/monero.svg"
            alt="Monero"
            width="32"
            height="32"
            loading="lazy"
          />
          <img
            src="/payments/crypto/ethereum.svg"
            alt="Etherum"
            width="24"
            height="24"
            loading="lazy"
          />
          <img
            src="/payments/crypto/stellar.svg"
            alt="Stellar"
            width="32"
            height="32"
            loading="lazy"
          />
        </div>
      </div>
    </div>

    <!-- Tiempo de Acreditaciòn -->
    <div class="flex flex-col w-full mx-auto my-10">
      <h3 class="font-semibold text-balance tracking-tight text-lg">
        TIEMPOS DE ACREDITACIÓN
      </h3>
      <div class="space-y-2">
        <p class="text-pretty tracking-tight">
          En <strong>{info.name}</strong>, tu comodidad es una prioridad. Los
          tiempos de acreditación son rápidos y eficientes, permitiéndote
          disfrutar de tus ganancias prácticamente al instante. Trabajan
          constantemente en optimizar los procesos para minimizar los tiempos de
          espera y asegurar una experiencia de usuario sin contratiempos.
        </p>
        <p class="text-pretty tracking-tight">
          Puedes confiar en que tu experiencia no se va a ver afectada por
          largos periodos de espera.
        </p>
      </div>
    </div>
  </article>
</section>
