---
const { ...info } = Astro.props;
---

<section
  id="pagos"
  class="my-20 flex flex-col w-full mx-auto space-y-10 text-[#f0f3ff] text-opacity-90"
>
  <h2
    class="text-center text-2xl text-balance tracking-tight uppercase sm:text-4xl font-bold"
  >
    MÉTODOS DE DEPÓSITOS Y RETIROS DE {info.name}
  </h2>
  <!-- Payments Methods -->
  <article>
    <div class="space-y-2">
      <p class="text-pretty tracking-tight">
        <strong>{info.name}</strong> ofrece una amplia variedad de opciones de pago
        seguras y flexibles, para que puedas elegir la que mejor se adapte a tus
        necesidades. La disponibilidad de los métodos de pago puede variar según
        tu región y la moneda que hayas elegido. Para conocer todas las opciones
        disponibles en tu caso, puedes consultar la sección "Billetera" de tu cuenta.
      </p>
      <p class="text-pretty tracking-tight">
        Al depositar criptomonedas, es fundamental seleccionar la red correcta
        para que el depósito sea acreditado lo más rápido posible. Asegúrese de
        enviarlas a la dirección de billetera correcta para cada criptomoneda.
        No envíe USDT a nuestra billetera BTC, por ejemplo.
      </p>
      <p class="text-pretty tracking-tight">
        Es importante que tengas en cuenta que, para realizar un retiro, debes
        utilizar el mismo método que hayas utilizado para depositar. Además,
        debes haber apostado la totalidad de tu depósito al menos una vez antes
        de poder retirarlo.
      </p>
    </div>

    <!-- Payments Methods -->
    <div
      class="flex flex-row flex-wrap sm:flex-nowrap w-full gap-10 mx-auto mt-10"
    >
      <!-- Tradicional Payments -->
      <div
        class="flex flex-wrap w-full sm:w-1/2 h-auto py-10 px-5 border rounded-xl border-t-2 border-slate-800 bg-gradient-to-t from-black/60 to-slate-950 focus:outline-none focus:border-[#f0f3ff]"
      >
        <h3
          class="inline-flex mx-auto text-center text-balance tracking-tight text-xl sm:text-2xl font-semibold mb-2"
        >
          Métodos de pago más comunes
        </h3>
        <div
          class="flex flex-wrap justify-center items-center mx-auto p-2 gap-5"
        >
          <img
            src="/payments/common/visa.svg"
            alt="Visa"
            width="60"
            height="60"
            loading="lazy"
          />
          <img
            src="/payments/common/mastercard.svg"
            alt="Master Card"
            width="48"
            height="40"
            loading="lazy"
          />
        </div>
      </div>

      <!-- Crypto Payments -->
      <div
        class="flex flex-wrap w-full sm:w-1/2 h-auto py-10 px-5 border rounded-xl border-t-2 border-slate-800 bg-gradient-to-t from-black/60 to-slate-950 focus:outline-none focus:border-[#f0f3ff]"
      >
        <h3
          class="inline-flex mx-auto text-center text-balance tracking-tight text-xl sm:text-2xl font-semibold mb-2"
        >
          Criptomonedas más comunes
        </h3>
        <div
          class="flex flex-wrap justify-center items-center mx-auto p-2 gap-3"
        >
          <img
            src="/payments/crypto/bitcoin.svg"
            alt="Bitcoin"
            width="36"
            height="36"
            loading="lazy"
          />
          <img
            src="/payments/crypto/tether.svg"
            alt="Tether"
            width="36"
            height="36"
            loading="lazy"
          />
          <img
            src="/payments/crypto/ethereum.svg"
            alt="Etherum"
            width="24"
            height="24"
            loading="lazy"
          />
          <img
            src="/payments/crypto/tron.svg"
            alt="Tron"
            width="32"
            height="32"
            loading="lazy"
          />
          <img
            src="/payments/crypto/litecoin.svg"
            alt="Litecoin"
            width="36"
            height="36"
            loading="lazy"
          />
          <img
            src="/payments/crypto/xrp.svg"
            alt="XRP"
            width="32"
            height="32"
            loading="lazy"
          />
          <img
            src="/payments/crypto/cardano.svg"
            alt="Cardano"
            width="32"
            height="32"
            loading="lazy"
          />
          <img
            src="/payments/crypto/dai.svg"
            alt="Dai"
            width="32"
            height="32"
            loading="lazy"
          />
          <img
            src="/payments/crypto/bnb.svg"
            alt="Binance"
            width="32"
            height="32"
            loading="lazy"
          />
          <img
            src="/payments/crypto/polygon.svg"
            alt="Polygon"
            width="36"
            height="36"
            loading="lazy"
          />
          <img
            src="/payments/crypto/usd-coin.svg"
            alt="USD COIN"
            width="32"
            height="32"
            loading="lazy"
          />
        </div>
      </div>
    </div>

    <!-- Tiempo de Acreditaciòn -->
    <div class="flex flex-col w-full mx-auto my-10">
      <h3 class="font-semibold text-balance tracking-tight text-lg">
        TIEMPOS DE ACREDITACIÓN
      </h3>
      <div class="space-y-2">
        <p class="text-pretty tracking-tight">
          El tiempo que tarda tu depósito en acreditarse depende del método de
          pago que uses. Por lo general, los depósitos y retiros con
          criptomonedas son rápidos. Asegúrate de revisar las políticas de <strong
            >{info.name}</strong
          > para cada caso.
        </p>
      </div>
    </div>
  </article>
</section>
