---
import RecomendedCarousel from "../../carousels/RecomendedCarousel.astro";

// import OurExpert from "../../../components/OurExpert.astro";

const { ...info } = Astro.props;
---

<section
  id="soporte"
  class="mb-10 mt-5 flex flex-col w-full mx-auto space-y-8 text-[#f0f3ff] text-opacity-90"
>
  <h2
    class="text-center text-2xl text-balance tracking-tight sm:text-4xl font-bold"
  >
    SERVICIO AL CLIENTE
  </h2>
  <div class="space-y-2 text-center">
    <p class="text-pretty tracking-tight">
      Algunos usuarios han elogiado la rapidez de respuesta y la amabilidad del
      equipo de soporte. Sin embargo, hay áreas en las que podrían mejorar para
      brindar una experiencia aún mejor a sus usuarios, ya que algunos han
      encontrado que las soluciones no siempre son satisfactorias.
    </p>
    <p class="text-pretty tracking-tight">
      Estos son los canales de servicio al cliente que se ofrecen en <strong
        >{info.name}</strong
      >:
    </p>
  </div>

  <!-- Support Channels -->
  <div
    class="flex flex-row flex-wrap sm:flex-nowrap justify-center items-center gap-5 px-20 w-full mx-auto"
  >
    <div class="flex flex-col w-full justify-center items-center space-y-3">
      <img
        src="/support/email-operator.svg"
        alt="Icono de email del operador"
        width="40"
        height="40"
        loading="lazy"
      />
      <p class="text-center text-balance">Correo Electrónico</p>
    </div>
    <div class="flex flex-col w-full justify-center items-center space-y-3">
      <img
        src="/support/live-chat.svg"
        alt="Icono de chat en vivo"
        width="40"
        height="36"
        loading="lazy"
      />
      <p class="text-center text-balance">Chat en vivo 24/7</p>
    </div>
  </div>

  <!-- Languages -->
  <div class="flex flex-row justify-center items-center w-full mx-auto">
    <div class="flex flex-col justify-center items-center mx-auto space-y-2">
      <h3 class="inline-flex tracking-tight font-semibold text-lg">
        Idiomas de soporte:
      </h3>
      <p class="text-center text-balance">
        <strong>{info.name}</strong> ofrece soporte en 12 idiomas
      </p>
    </div>
  </div>

  <!-- License -->
  <div class="flex flex-row justify-center items-center w-full mx-auto">
    <div class="flex flex-col justify-center items-center mx-auto space-y-2">
      <h3 class="inline-flex tracking-tight font-semibold text-lg">Licencia</h3>
      <p class="tracking-tight text-pretty text-center">{info.license}</p>
    </div>
  </div>

  <!-- <hr /> -->

  <!-- Our Experts -->
  <!-- <div class="flex flex-row justify-start items-start w-full">
    <OurExpert />
  </div> -->

  <hr />

  <RecomendedCarousel />
</section>
