---
import Layout from "../layout/Layout.astro";
---

<Layout>
  <section>
    <h1 class="text-center text-balance">
      <span class="text-3xl"> Esta página o ruta no existe</span>
    </h1>
  </section>
</Layout>
