---
import Layout from "../layout/layout.astro";
---

<Layout>
  <section class="h-screen flex justify-center items-center">
    <p>
      <span class="text-3xl"> Esta página o ruta no existe</span>
    </p>
  </section>
</Layout>
