---
import HeaderReview from "../components/reviews/HeaderReview";
import Layout from "../layout/Layout.astro";
import { operators } from "../lib/data";

const operator = operators.find((operator) => operator.name === "Betano")!;
if (!operator) return Astro.redirect("/404");

const { ...info } = operator;
---

<Layout>
  <!-- Header Review -->
  <HeaderReview {...info} client:load />
  <h1>{info.name}</h1>
</Layout>
