---
import Layout from "../layout/Layout.astro";
import { operators } from "../lib/data";
import HeaderReview from "../components/reviews/HeaderReview";
import Detalles from "../sections/example/Detalles.astro";
import Promociones from "../sections/example/Promociones.astro";
import Pagos from "../sections/example/Pagos.astro";
import Deportes from "../sections/example/Deportes.astro";
import Soporte from "../sections/example/Soporte.astro";

const operator = operators.find((operator) => operator.name === "Ejemplo")!;
if (!operator) return Astro.redirect("/404");

const { ...info } = operator;

// SEO
const title = `Casa de apuesta ${info.name}`;
const description = "Some SEO description";
---

<Layout title={title} description={description}>
  <>
    <!-- Header Review -->
    <HeaderReview {...info} client:load />

    <!-- Content -->
    <main class="max-w-screen-lg px-4">
      <Detalles {...info} />
      <Promociones {...info} />
      <Pagos {...info} />
      <Deportes {...info} />
    </main>

    <!-- Footer -->
    <footer class="max-w-screen-lg px-4">
      <Soporte {...info} />
    </footer>
  </>
</Layout>
