---
import Layout from "../layouts/layout.astro";
import Intro from "./../sections/Intro.astro";
import CardList from "./../sections/CardList.astro";
import NewSportsbooks from "../components/carousels/NewSportsbooks.astro";
import RecomendedCarousel from "../components/carousels/RecomendedCarousel.astro";
import PopularCarousel from "../components/carousels/PopularCarousel.astro";
// import Carousel from "./../sections/Carousel.astro";
import ComoApostar from "./../sections/ComoApostar.astro";
import Considerations from "./../sections/Considerations.astro";
import FAQ from "./../sections/FAQ.astro";
import Footer from "../sections/Footer.astro";
import Navbar from "./../sections/Navbar";
---

<Layout
  title="Mi casa de apuesta | Descubre las mejores casas de apuestas"
  description="Compara las mejores casas de apuestas deportivas 2024. Cuotas, bonos exclusivos, códigos promocionales y más. Elige la casa de apuestas ideal."
  canonicalUrl="https://micasadeapuesta.com/"
>
  <!-- NavBar -->
  <Navbar client:load />
  <main>
    <Intro />
    <CardList />
    <NewSportsbooks />
    <!-- <Carousel /> -->
    <Considerations />
    <ComoApostar />
    <PopularCarousel />
    <FAQ />
    <RecomendedCarousel />
  </main>
  <!-- Footer -->
  <Footer />
</Layout>
