---
import Layout from "../layout/Layout.astro";
import Intro from "../components/Intro.astro";
import CardList from "../components/CardList.astro";
// import Carousel from "../components/Carousel.astro";
import ComoApostar from "../components/ComoApostar.astro";
import Considerations from "../components/Considerations.astro";
import FAQ from "../components/FAQ.astro";
import Footer from "../components/footer/Footer.astro";
import Navbar from "../components/Navbar";
// import UnderConstruction from "./UnderConstruction.astro";
---

<Layout
  title="Comparamos las mejores casas de apuestas deportivas en LATAM"
  description="Presentamos las mejores casas de apuestas en Latinoamérica 2024, con las mejores cuotas, bonos y promociones. Utiliza nuestros códigos promocionales y empieza a ganar más."
>
  <!-- NavBar -->
  <Navbar client:load />
  <main>
    <Intro />
    <CardList />
    <!-- <Carousel /> -->
    <Considerations />
    <ComoApostar />
    <FAQ />
    <!-- <UnderConstruction /> -->
  </main>
  <!-- Footer -->
  <Footer />
</Layout>
