---
import Layout from "../layout/layout.astro";
import Intro from "../components/Intro.astro";
import CardList from "../components/CardList.astro";
import Carousel from "../components/Carousel.astro";
import ComoApostar from "../components/ComoApostar.astro";
import Considerations from "../components/Considerations.astro";
// import UnderConstruction from "./UnderConstruction.astro";
---

<Layout>
  <main>
    <Intro />
    <CardList />
    <Carousel />
    <ComoApostar />
    <Considerations />
    <!-- <UnderConstruction /> -->
  </main>
  <!-- Footer -->
</Layout>
