---
import Layout from "../layout/Layout.astro";
import Intro from "./../sections/Intro.astro";
import CardList from "./../sections/CardList.astro";
// import Carousel from "../components/Carousel.astro";
import ComoApostar from "./../sections/ComoApostar.astro";
import Considerations from "./../sections/Considerations.astro";
import FAQ from "./../sections/FAQ.astro";
import Footer from "../sections/Footer.astro";
import Navbar from "./../sections/Navbar";
// import UnderConstruction from "./UnderConstruction.astro";
---

<Layout
  title="Super Bowl: Las mejores casas de apuestas deportivas 2024"
  description="Nuevas y mejores casas de apuestas deportivas en 2024, con las mejores cuotas, promociones, bonos y sorteos. Utiliza nuestros códigos promocionales y empieza a ganar más."
  canonicalUrl="https://micasadeapuesta.com/"
>
  <!-- NavBar -->
  <Navbar client:load />
  <main>
    <Intro />
    <CardList />
    <!-- <Carousel /> -->
    <Considerations />
    <ComoApostar />
    <FAQ />
    <!-- <UnderConstruction /> -->
  </main>
  <!-- Footer -->
  <Footer />
</Layout>
