---
import Intro from "../components/Intro.astro";
import Layout from "../layout/layout.astro";
// import UnderConstruction from "./UnderConstruction.astro";
---

<Layout>
  <main>
    <Intro />
    <!-- <UnderConstruction /> -->
  </main>
  <!-- Footer -->
</Layout>
