---
import RightsReserved from "../components/footer/RightsReserved.astro";
import Layout from "../layout/Layout.astro";
---

<Layout
  title="Juego Responsable: Apostando de Forma Segura"
  description="Asumimos la responsabilidad de fomentar prácticas saludables entre nuestros usuarios. El juego responsable es fundamental para disfrutar de las apuestas de forma sana y sin riesgos."
>
  <section
    class="max-w-screen-md justify-center items-center mx-auto p-4 text-[#f0f3ff] text-opacity-90"
  >
    <div class="my-8 sm:my-16 flex flex-col w-full mx-auto space-y-5">
      <h1
        class="text-center text-2xl text-balance tracking-tight sm:text-4xl font-bold"
      >
        Juego Responsable: Apostando de Forma Segura
      </h1>
      <article class="space-y-4">
        <div class="space-y-2">
          <p class="tracking-tight font-light text-pretty">
            En nuestro compromiso con el juego responsable, nos preocupamos
            profundamente por la adicción que puede surgir del juego y los
            impactos negativos que podría ocasionar en diversas áreas de la vida
            de una persona.
          </p>
          <p class="tracking-tight font-light text-pretty">
            Asumimos con seriedad la responsabilidad de fomentar prácticas
            saludables entre nuestros usuarios. Nuestra misión es proporcionar
            información valiosa y enlaces a plataformas de juego, con el
            objetivo de que la experiencia sea divertida, segura y exenta de
            riesgos innecesarios.
          </p>
          <p class="tracking-tight font-light text-pretty">
            Apostar debe ser una experiencia divertida, nunca peligrosa.
          </p>
        </div>
        <h2 class="text-balance tracking-tight text-lg font-semibold">
          Algunos de los elementos clave del juego responsable y que
          recomendamos incluyen:
        </h2>
        <ul class="list-disc list-inside tracking-tight font-light text-pretty">
          <li class="tracking-tight">
            Establecer un presupuesto y límites de tiempo claros para el juego.
          </li>
          <li class="tracking-tight">
            Evitar la tentación o apostar más de lo que se puede permitir.
          </li>
          <li class="tracking-tight">
            Tomarse descansos regulares durante el juego para evitar la fatiga y
            la impulsividad
          </li>
          <li class="tracking-tight">
            Buscar ayuda si se siente que el juego está afectando negativamente
            la vida personal o financiera.
          </li>
        </ul>
        <p class="tracking-tight font-light text-pretty">
          Si en algún momento necesitas ayuda, las casas de apuestas ofrecen
          opciones de soporte o autoexclusión para garantizar una experiencia
          segura.
        </p>

        <div>
          <h2 class="inline-flex tracking-tight text-lg font-semibold">
            Autoexclusión:
          </h2>
          <div class="space-y-3">
            <p class="tracking-tight font-light text-pretty">
              La autoexclusión se convierte en una herramienta esencial para
              fomentar un juego responsable. Cuando te das cuenta de que te
              estás desviando de los principios del juego responsable, enfrentas
              pérdidas notables o atraviesas momentos complicados, tanto
              económicos como emocionales, las casas de apuestas te ofrecen la
              posibilidad de suspender temporalmente tu cuenta.
            </p>
            <p class="tracking-tight font-light text-pretty">
              Esta opción te permite detener momentáneamente tu participación en
              los juegos, brindándote un respiro necesario para reevaluar tus
              decisiones y enfrentar cualquier desafío financiero o emocional
              que puedas estar experimentando.
            </p>
          </div>
        </div>
        <h3
          class="inline-flex tracking-tight font-semibold underline underline-offset-4 text-lg"
        >
          Centros de ayuda en América Latina:
        </h3>
        <div>
          <h4>
            <span
              class="tracking-tight font-semibold bg-gradient-to-t from-[#c7d2fe] to-[#8678f9] bg-clip-text text-lg text-transparent"
            >
              Español:
            </span>
          </h4>
          <ul
            class="list-disc list-inside tracking-tight text-pretty space-y-3"
          >
            <li>
              <span class="font-semibold">Jugadores Anonimos:</span>
              <br />
              <a
                href="https://www.jugadoresanonimos.org/"
                target="_blank"
                rel="noopener noreferrer external"
                class="hover:text-gray-400 font-thin"
              >
                https://www.jugadoresanonimos.org/
              </a>
            </li>
            <li>
              <span class="font-semibold">Fejar:</span>
              <br />
              <a
                href="https://fejar.org/"
                target="_blank"
                rel="noopener noreferrer external"
                class="hover:text-gray-400 font-thin"
              >
                https://fejar.org/
              </a>
            </li>
            <li>
              <span class="font-semibold">Gambling Therarapy (Español):</span>
              <br />
              <a
                href="https://www.gamblingtherapy.org/es/"
                target="_blank"
                rel="noopener noreferrer external"
                class="hover:text-gray-400 font-thin"
              >
                https://www.gamblingtherapy.org/es/
              </a>
            </li>
          </ul>
        </div>
        <div>
          <h4>
            <span
              class="tracking-tight font-semibold bg-gradient-to-t from-[#c7d2fe] to-[#8678f9] bg-clip-text text-lg text-transparent"
            >
              English:
            </span>
          </h4>
          <ul
            class="list-disc list-inside tracking-tight text-pretty space-y-3"
          >
            <li>
              <span class="font-semibold">GamCare:</span>
              <br />
              <a
                href="https://www.gamcare.org.uk/"
                target="_blank"
                rel="noopener noreferrer external"
                class="hover:text-gray-400 font-thin"
              >
                https://www.gamcare.org.uk/
              </a>
            </li>
            <li>
              <span class="font-semibold">BeGambleAware:</span>
              <br />
              <a
                href="https://www.begambleaware.org/"
                target="_blank"
                rel="noopener noreferrer external"
                class="hover:text-gray-400 font-thin"
              >
                https://www.begambleaware.org/
              </a>
            </li>
            <li>
              <span class="font-semibold">MGA:</span>
              <br />
              <a
                href="https://www.mga.org.mt/"
                target="_blank"
                rel="noopener noreferrer external"
                class="hover:text-gray-400 font-thin"
              >
                https://www.mga.org.mt/
              </a>
            </li>
            <li>
              <span class="font-semibold">Responsible Gaming Foundation:</span>
              <br />
              <a
                href="https://www.rgf.org.mt/"
                target="_blank"
                rel="noopener noreferrer external"
                class="hover:text-gray-400 font-thin"
              >
                https://www.rgf.org.mt/
              </a>
            </li>
          </ul>
        </div>
        <div>
          <h4>
            <span
              class="font-semibold bg-gradient-to-t from-[#c7d2fe] to-[#8678f9] bg-clip-text text-lg text-transparent"
            >
              Português:
            </span>
          </h4>
          <ul
            class="list-disc list-inside tracking-tight text-pretty space-y-3"
          >
            <li>
              <span class="font-semibold">
                Instituto Brasileiro de Jogo Responsável:
              </span>
              <br />
              <a
                href="https://ibjr.org/"
                target="_blank"
                rel="noopener noreferrer external"
                class="hover:text-gray-400 font-thin"
              >
                https://ibjr.org/
              </a>
            </li>
          </ul>
        </div>
      </article>
    </div>
    <hr />
    <div class="mt-5">
      <RightsReserved />
    </div>
  </section>
</Layout>
