---
import RightsReserved from "../sections/RightsReserved.astro";
import Layout from "../layout/layout.astro";
import PeWorld from "../components/icons/PeWorld.astro";

const title = "Política de privacidad y Cookies";
const description =
  "Aquí describe nuestros procedimientos sobre la recopilación, uso y divulgación de información cuando utiliza o accede a nuestra página y le informa sobre sus derechos de privacidad.";
const canonicalUrl =
  "https://micasadeapuesta.com/politicas-de-privacidad-y-cookies/";
---

<Layout title={title} description={description} canonicalUrl={canonicalUrl}>
  <section
    class="max-w-screen-md justify-center items-center mx-auto p-4 text-[#f0f3ff] text-opacity-90"
  >
    <div class="my-8 sm:my-16 flex flex-col w-full mx-auto space-y-5">
      <h1
        class="text-center text-2xl text-balance tracking-tight sm:text-4xl font-bold"
      >
        Política de privacidad y Cookies
      </h1>
      <article class="space-y-3">
        <p class="tracking-tight font-light text-pretty">
          Esta Política de Privacidad describe nuestras políticas y
          procedimientos sobre la recopilación, uso y divulgación de información
          cuando utiliza nuestro servicio y le informa sobre sus derechos de
          privacidad. Al acceder y utilizar nuestro servicio, usted acepta los
          términos descritos en esta política.
        </p>
        <h2 class="inline-flex tracking-tight text-lg font-semibold">
          Datos Recopilados
        </h2>
        <div>
          <h3 class="inline-flex tracking-tight font-semibold">
            Datos Personales:
          </h3>
          <p class="tracking-tight font-light text-pretty">
            Mientras usa nuestro servicio, podemos solicitarle que nos
            proporcione cierta información personal identificable que se puede
            utilizar para contactarlo o identificarlo.
          </p>
        </div>
        <div>
          <h3 class="inline-flex tracking-tight font-semibold">
            Datos de Uso:
          </h3>
          <p class="tracking-tight font-light text-pretty">
            Los datos de uso se recopilan automáticamente al utilizar el
            servicio. Los datos de uso pueden incluir información como la
            dirección de Protocolo de Internet (IP) del dispositivo que utiliza,
            el tipo de navegador, las páginas de nuestro servicio que visita, la
            fecha y hora de su visita, el tiempo que pasa en esas páginas,
            identificadores únicos de dispositivos y otros datos de diagnóstico.
            Esto para todos los dispositivos.
          </p>
        </div>
        <div>
          <h2 class="inline-flex tracking-tight text-lg font-semibold">
            Tecnologías de Seguimiento y Cookies
          </h2>
          <p class="tracking-tight font-light text-pretty">
            Utilizamos cookies y tecnologías de seguimiento para rastrear la
            actividad en nuestro servicio. Además de las cookies necesarias,
            utilizamos las siguientes:
          </p>
        </div>
        <div>
          <h3 class="inline-flex tracking-tight font-semibold">Hotjar:</h3>
          <p class="tracking-tight font-light text-pretty">
            Propósito: Analizar la interacción del usuario con el servicio para
            mejorar la experiencia y la usabilidad del mismo.
          </p>
        </div>
        <div>
          <h3 class="inline-flex tracking-tight font-semibold">
            Google Analytics (GA4):
          </h3>
          <p class="tracking-tight font-light text-pretty">
            Propósito: Recopilar información estadística sobre el uso del
            servicio, como páginas visitadas, tiempo de permanencia y fuentes de
            tráfico, con el fin de entender y mejorar el rendimiento y la
            eficacia del servicio.
          </p>
        </div>
        <div>
          <h3 class="inline-flex tracking-tight font-semibold">
            Google Tag Manager (GTM):
          </h3>
          <p class="tracking-tight font-light text-pretty">
            Propósito: Facilitar la gestión e implementación de etiquetas y
            scripts en el servicio, lo que permite un seguimiento preciso y la
            recopilación de datos para análisis y mejoras.
          </p>
        </div>
        <div>
          <h2 class="inline-flex tracking-tight text-lg font-semibold">
            Uso de Datos Personales
          </h2>
          <p class="tracking-tight font-light text-pretty">
            La información recopilada se utiliza para:
          </p>
        </div>
        <div>
          <ul
            class="list-disc list-inside tracking-tight font-light text-pretty"
          >
            <li>Mantener y mejorar nuestro servicio.</li>
            <li>
              Proporcionar noticias, ofertas e información general, a menos que
              opte por no recibirla.
            </li>
            <li>Gestionar solicitudes y consultas.</li>
            <li>
              Análisis de datos, identificación de tendencias y mejora continua
              del servicio.
            </li>
          </ul>
        </div>
        <div>
          <h2 class="inline-flex tracking-tight text-lg font-semibold">
            Compartir Información
          </h2>
          <p class="tracking-tight font-light text-pretty">
            Podemos compartir información con proveedores de servicios,
            afiliados y socios comerciales para mejorar y analizar nuestro
            servicio. En áreas públicas, la información compartida puede ser
            vista por otros usuarios.
          </p>
        </div>
        <div>
          <h2 class="inline-flex tracking-tight text-lg font-semibold">
            Retención y Eliminación de Datos
          </h2>
          <p class="tracking-tight font-light text-pretty">
            Retenemos datos personales el tiempo necesario para los propósitos
            establecidos en esta Política. Puede solicitar la eliminación de
            datos personales.
          </p>
        </div>
        <div>
          <h2 class="inline-flex tracking-tight text-lg font-semibold">
            Cumplimiento Legal
          </h2>
          <p class="tracking-tight font-light text-pretty">
            Bajo ciertas circunstancias, podemos divulgar datos personales si lo
            exige la ley o para proteger derechos, propiedad o seguridad.
          </p>
        </div>
        <div>
          <h2 class="inline-flex tracking-tight text-lg font-semibold">
            Seguridad de Datos Personales
          </h2>
          <p class="tracking-tight font-light text-pretty">
            La seguridad no puede garantizarse al 100%, pero tomamos medidas
            para proteger sus datos de acuerdo con esta Política.
          </p>
        </div>
        <div>
          <h2 class="inline-flex tracking-tight text-lg font-semibold">
            Privacidad de los Niños o menores de edad
          </h2>
          <p class="tracking-tight font-light text-pretty">
            No dirigimos nuestro servicio a menores de 18 años. Si tiene
            conocimiento de que un menor nos ha proporcionado datos personales,{
              " "
            }
            <span class="font-medium">
              <strong>contáctenos.</strong>
            </span>
          </p>
        </div>
        <div>
          <h2 class="inline-flex tracking-tight text-lg font-semibold">
            Enlaces a Otros Sitios Web
          </h2>
          <p class="tracking-tight font-light text-pretty">
            No tenemos control sobre sitios web de terceros. Recomendamos
            revisar sus políticas de privacidad.
          </p>
        </div>
        <div>
          <h2 class="inline-flex tracking-tight text-lg font-semibold">
            Cambios a esta Política de Privacidad
          </h2>
          <p class="tracking-tight font-light text-pretty">
            Actualizaremos esta política y notificaremos cambios a través del
            servicio o correo electrónico antes de que entren en vigencia. Le
            recomendamos revisar periódicamente esta Política de Privacidad para
            estar al tanto de cualquier cambio. Si tiene alguna pregunta o
            inquietud sobre esta Política de Privacidad,{" "}
            <span class="font-medium">
              <strong>contáctenos.</strong>
            </span>
          </p>
        </div>
      </article>
    </div>
    <hr />
    <div class="mt-5 space-y-5">
      <div class="flex flex-col space-y-2 justify-center items-center">
        <span class="text-center tracking-tight text-pretty"
          >Visítanos también en:
        </span>
        <a
          href="https://micasadeapuesta.pe/"
          title="Mi casa de apuesta Perú"
          target="_self"
          rel="external noopener noreferrer follow"
        >
          <span
            class="relative text-lg flex flex-row mx-auto justify-center items-center gap-2 bg-[linear-gradient(#616161,#616161),linear-gradient(#8678f9,#8678f9)] bg-[length:100%_2px,0_2px] bg-[position:100%_100%,0_100%] bg-no-repeat text-white transition-[background-size] duration-300 hover:bg-[0_2px,100%_2px]"
            aria-label="Ir al sitio web: Mi casa de apuestas LATAM"
            typeof="button"
          >
            Mi casa de apuesta Perú
            <PeWorld />
          </span>
        </a>
      </div>
      <RightsReserved />
    </div>
  </section>
</Layout>
