---
import HeaderReview from "../components/reviews/HeaderReview";
import Layout from "../layout/layout.astro";
import { operators } from "../lib/data";

const operator = operators.find((operator) => operator.name === "Stake")!;
if (!operator) return Astro.redirect("/404");

const { ...info } = operator;
---

<Layout>
  <>
    <HeaderReview {...info} client:load />
    <section
      id="detalle"
      class="my-8 flex flex-col max-w-screen-lg w-full p-4 mx-auto space-y-12 text-[#f0f3ff] text-opacity-90"
    >
      <h1
        class="inline-flex mx-auto uppercase animate-background-shine bg-[linear-gradient(110deg,#939393,45%,#f0f3ff,65%,#939393)] bg-[length:250%_100%] bg-clip-text text-transparent text-5xl sm:text-7xl font-semibold"
      >
        {info.name}
      </h1>
      <div
        class="flex flex-wrap sm:flex-nowrap w-full justify-center items-center sm:divide-x-2 mx-auto h-auto py-10 px-5 border gap-5 rounded-xl border-t-2 border-slate-800 bg-gradient-to-t from-black/60 to-slate-950 focus:outline-none focus:border-[#f0f3ff]"
      >
        <div
          class="flex flex-col grow w-1/3 sm:w-full items-center pl-5 text-pretty space-y-3"
        >
          <p class="text-4xl font-semibold">+70,000</p>
          <p class="text-xl text-center font-light tracking-tight">
            Jugadores activos
          </p>
        </div>
        <div
          class="flex flex-col grow w-1/3 sm:w-full items-center pl-5 text-balance space-y-3"
        >
          <p class="text-4xl font-semibold">62</p>
          <p class="text-xl text-center font-light tracking-tight">
            Países en cobertura
          </p>
        </div>
        <div
          class="flex flex-col grow w-1/3 sm:w-full items-center pl-5 text-pretty space-y-3"
        >
          <p class="text-4xl font-semibold">49</p>
          <p class="text-xl text-center font-light tracking-tight">
            Idiomas soportados
          </p>
        </div>
        <div
          class="flex flex-col grow w-1/3 sm:w-full items-center pl-5 text-pretty space-y-3"
        >
          <p class="text-4xl font-semibold">160</p>
          <p class="text-xl text-center font-light tracking-tight">
            Métodos de pago
          </p>
        </div>
      </div>
    </section>
  </>
</Layout>
