---
import Layout from "../layout/layout.astro";
import { operators } from "../lib/data";
import HeaderReview from "../components/reviews/HeaderReview";
import Detalles from "./secciones/Detalles.astro";
import Promociones from "./secciones/Promociones.astro";
import Pagos from "./secciones/Pagos.astro";
import Deportes from "./secciones/Deportes.astro";

const operator = operators.find((operator) => operator.name === "Stake")!;
if (!operator) return Astro.redirect("/404");

const { ...info } = operator;
---

<Layout>
  <>
    <!-- Header Review -->
    <HeaderReview {...info} client:load />

    <!-- Content -->
    <main class="max-w-screen-lg p-4">
      <Detalles {...info} />
      <Promociones {...info} />
      <Pagos {...info} />
      <Deportes {...info} />
    </main>

    <!-- Footer -->
  </>
</Layout>
