---
const { ...info } = Astro.props;
---

<section
  id="pagos"
  class="my-20 flex flex-col w-full mx-auto space-y-10 text-[#f0f3ff] text-opacity-90"
>
  <h2
    class="text-center text-2xl text-balance tracking-tight uppercase sm:text-4xl font-bold"
  >
    MÉTODOS DE DEPÓSITOS Y RETIROS DE {info.name}
  </h2>
  <!-- Payments Methods -->
  <article>
    <div class="space-y-2">
      <p class="text-pretty tracking-tight">
        <strong>{info.name}</strong>, en su constante búsqueda de mejorar la
        experiencia del usuario y la eficiencia de su plataforma, ha
        implementado modificaciones en la estructura de tarifas para retiros de
        dinero efectivo. Este ajuste está alineado con la metodología de tarifas
        de la pasarela de pago e incorpora una nueva opción para la conversión
        de FIAT a USDT.
      </p>

      <p class="text-pretty tracking-tight">
        A continuación, te presentamos las opciones más populares entre los
        jugadores en la actualidad, destacando por su rapidez, facilidad y
        seguridad en las transacciones:
      </p>
    </div>

    <!-- Payments Methods -->
    <div
      class="flex flex-row flex-wrap sm:flex-nowrap w-full gap-10 mx-auto mt-10"
    >
      <!-- Tradicional Payments -->
      <div
        class="flex flex-wrap w-full sm:w-1/2 h-auto py-10 px-5 border rounded-xl border-t-2 border-slate-800 bg-gradient-to-t from-black/60 to-slate-950 focus:outline-none focus:border-[#f0f3ff]"
      >
        <h3
          class="inline-flex mx-auto text-center text-balance tracking-tight text-xl sm:text-2xl font-semibold mb-2"
        >
          Métodos de pago más comunes
        </h3>
        <div
          class="flex flex-wrap justify-center items-center mx-auto p-2 gap-2"
        >
          <img
            src="/payments/common/visa.svg"
            alt="Visa"
            width="48"
            height="48"
            loading="lazy"
          />
          <img
            src="/payments/common/mastercard.svg"
            alt="Master Card"
            width="48"
            height="48"
            loading="lazy"
          />
          <img
            src="/payments/common/moonpay.svg"
            alt="MoonPay"
            width="96"
            height="96"
            loading="lazy"
          />
        </div>
      </div>

      <!-- Crypto Payments -->
      <div
        class="flex flex-wrap w-full sm:w-1/2 h-auto py-10 px-5 border rounded-xl border-t-2 border-slate-800 bg-gradient-to-t from-black/60 to-slate-950 focus:outline-none focus:border-[#f0f3ff]"
      >
        <h3
          class="inline-flex mx-auto text-center text-balance tracking-tight text-xl sm:text-2xl font-semibold mb-2"
        >
          Criptomonedas más comunes
        </h3>
        <div
          class="flex flex-wrap justify-center items-center mx-auto p-2 gap-3"
        >
          <img
            src="/payments/crypto/bitcoin.svg"
            alt="Bitcoin"
            width="40"
            height="40"
            loading="lazy"
          />
          <img
            src="/payments/crypto/ethereum.svg"
            alt="Etherum"
            width="24"
            height="24"
            loading="lazy"
          />
          <img
            src="/payments/crypto/dai.svg"
            alt="Dai"
            width="32"
            height="32"
            loading="lazy"
          />
          <img
            src="/payments/crypto/xrp.svg"
            alt="XRP"
            width="36"
            height="36"
            loading="lazy"
          />
          <img
            src="/payments/crypto/cardano.svg"
            alt="Cardano"
            width="36"
            height="36"
            loading="lazy"
          />
          <img
            src="/payments/crypto/polkadot.svg"
            alt="Polkadot"
            width="32"
            height="32"
            loading="lazy"
          />
          <img
            src="/payments/crypto/tron.svg"
            alt="Tron"
            width="32"
            height="32"
            loading="lazy"
          />
          <img
            src="/payments/crypto/bnb.svg"
            alt="BNB"
            width="36"
            height="36"
            loading="lazy"
          />
          <img
            src="/payments/crypto/avalanche.svg"
            alt="Avalanche"
            width="32"
            height="32"
            loading="lazy"
          />
          <img
            src="/payments/crypto/solana.svg"
            alt="Solana"
            width="36"
            height="36"
            loading="lazy"
          />
          <img
            src="/payments/crypto/polygon.svg"
            alt="Polygon"
            width="32"
            height="32"
            loading="lazy"
          />
          <img
            src="/payments/crypto/arbitrum.svg"
            alt="Arbitrum"
            width="32"
            height="32"
            loading="lazy"
          />
        </div>
      </div>
    </div>

    <!-- Tiempo de Acreditaciòn -->
    <div class="flex flex-col w-full mx-auto my-10">
      <h3 class="font-semibold text-balance tracking-tight text-lg">
        TIEMPOS DE ACREDITACIÓN
      </h3>
      <div class="space-y-2">
        <p class="text-pretty tracking-tight">
          En cuanto a lo que tiene que ver con las criptomonedas, la velocidad y
          confiabilidad de los depósitos son aspectos cruciales a tener en
          cuenta. En <strong>{info.name}</strong>, los depósitos pueden demorar
          entre 1 minuto y 2 horas, dependiendo de la cadena de bloques. Para
          asegurar la rapidez, es fundamental ingresar correctamente todos los
          detalles, como la dirección y la etiqueta/memo para USDT. Se
          recomienda utilizar la dirección específica para ERC20 o TRC20 al
          depositar USDT.
        </p>

        <p class="text-pretty tracking-tight">
          Es importante señalar que las billeteras de <strong
            >{info.name}</strong
          >
          no aceptan depósitos de contratos, lo que podría ocasionar retrasos de
          hasta 12 horas. Para evitar esta situación, se aconseja utilizar billeteras
          como Metamask, Atomic o Trust Wallet, ya que admiten depósitos sin contratos.
        </p>

        <p class="text-pretty tracking-tight">
          Nota: En caso de que tu depósito no llegue en un plazo de 2 horas,
          puedes contactar al servicio de atención al cliente para obtener
          asistencia.
        </p>
      </div>
    </div>
  </article>
</section>
