---
import "../../styles/header/style.css";
---

<a
  id="header-nav"
  href="/"
  class="sticky z-50 top-0 flex flex-row justify-between items-center w-full p-4 text-[#f0f3ff] text-opacity-90"
>
  <img
    src="/logo.svg"
    alt="Mi casa de apuesta Logo"
    title="Mi casa de apuesta Logo"
    width="40"
    height="40"
    decoding="async"
    loading="eager"
    class="hover:scale-110 hover:rounded-full hover:shadow-[#8678f9] hover:shadow-sm"
  />
</a>
