---
import "../../styles/header/style.css";

const { ...info } = Astro.props;
---

<header
  id="header-nav"
  class="sticky z-50 top-0 w-full p-4 text-[#f0f3ff] text-opacity-90"
>
  <div class="flex justify-between items-center">
    <a
      href="/"
      class="hover:scale-110 hover:rounded-full hover:shadow-[#8678f9] hover:shadow-sm"
    >
      <img
        src="/logo.svg"
        alt="Mi casa de apuesta Logo"
        title="Mi casa de apuesta Logo"
        width="40"
        height="40"
        decoding="async"
        loading="eager"
      />
    </a>

    {/* Buttons */}
    <div class="flex flex-row mx-auto justify-end w-full mt-2">
      {/* Jugar Ahora */}
      <a
        href={info.urlregistro}
        target="_blank"
        rel="external noopener noreferrer sponsored"
        class="relative inline-flex w-1/2 sm:w-2/12 h-10 overflow-hidden rounded-full p-[1px] focus:outline-none focus:ring-2 focus:ring-[#f0f3ff] focus:ring-offset-2 focus:ring-offset-[#f0f3ff] hover:border-white hover:border"
      >
        <span
          class="absolute inset-[-1000%] animate-[spin_2s_linear_infinite] bg-[conic-gradient(from_90deg_at_50%_50%,#E2CBFF_0%,#393BB2_50%,#E2CBFF_100%)]"
        ></span>
        <span
          class="inline-flex h-full w-full text-sm text-center cursor-pointer items-center justify-center rounded-full bg-slate-950 px-3 py-1 font-medium text-white backdrop-blur-3xl"
          aria-label="Registrarse y Appuesta"
        >
          Jugar Ahora
        </span>
      </a>
    </div>
  </div>
</header>
