---
import Card from "./Card.astro";

interface Review {
  id: number;
  name: string;
  img: string;
  rating: number;
  promocode: string;
  urlregistro: string;
  urlbono: string;
}

const reviews: Review[] = [
  {
    id: 1,
    name: "Stake",
    img: "operators/withbg/stake.svg",
    rating: 3.5,
    promocode: "XXXXXX",
    urlregistro: "https://moisesobando.com/",
    urlbono: "https://moisesobando.com/",
  },
  {
    id: 2,
    name: "Betano",
    img: "operators/withbg/betano.svg",
    rating: 4.5,
    promocode: "YYYYYY",
    urlregistro: "https://moisesobando.com/",
    urlbono: "https://moisesobando.com/",
  },
];
---

<section id="lista" class="flex flex-col my-20 space-y-10 w-full p-4">
  <h2
    class="text-center text-xl text-pretty tracking-tight sm:text-3xl font-bold text-[#f0f3ff] text-opacity-90 mb-3"
  >
    MEJORES CASAS DE APUESTAS
  </h2>
  {
    reviews.map((info) => (
      <article>
        <Card {...info} />
      </article>
    ))
  }
</section>
