---
import Card from "./Card.astro";
---

<section id="lista" class="flex flex-col space-y-10 w-full p-4">
  <h2
    class="text-center text-2xl text-pretty tracking-tight sm:text-3xl font-bold text-[#f0f3ff] text-opacity-90 mb-3"
  >
    Mejores Casas de Apuestas
  </h2>
  <article>
    <Card />
  </article>
</section>
