<section
  id="consideraciones"
  class="flex flex-col max-w-screen-md mx-auto space-y-5 p-5 my-40 text-[#f0f3ff] text-opacity-90"
>
  <h2
    class="text-center text-xl text-balance tracking-tight sm:text-3xl font-bold mb-3"
  >
    CONSIDERACIONES ANTES DE ELEGIR UNA CASA DE APUESTA
  </h2>
  <div class="flex flex-wrap sm:flex-nowrap gap-5">
    <article class="basis-1/2 grow">
      <h3 class="font-semibold tracking-tight text-lg">Bonos y Promociones</h3>
      <div class="space-y-3">
        <p class="text-pretty tracking-tight pr-0 sm:pr-10">
          Los bonos y promociones son geniales para aumentar tus ganancias. En
          nuestro caso, <strong
            >proporcionamos algunos Códigos Promocionales</strong
          >.
        </p>
        <p class="text-pretty tracking-tight pr-0 sm:pr-10">
          Revisa la reseña para confirmar si ofrecen
          <strong
            >bonos de bienvenida, bonificaciones por depósito y otras
            promociones
          </strong> que te brinden beneficios extra. No olvides de leer detenidamente
          los términos y condiciones asociados.
        </p>
      </div>
    </article>
    <article class="basis-1/2 grow">
      <h3 class="font-semibold tracking-tight text-lg">Métodos de Pago</h3>
      <div class="space-y-3">
        <p class="text-pretty tracking-tight pr-0 sm:pr-10">
          Una excelente casa de apuestas deportivas debe proporcionar una
          extensa gama de opciones de pago, que abarquen desde billeteras
          electrónicas, transferencias bancarias, tarjetas de crédito y débito.
          Esto asegurará una experiencia fluida y segura tanto para depositar
          como retirar fondos.

          <p class="text-pretty tracking-tight pr-0 sm:pr-10">
            Asegúrate de hacer la verificación de identidad antes de solicitar
            un retiro.
          </p>
        </p>
      </div>
    </article>
  </div>
  <div class="flex flex-wrap sm:flex-nowrap gap-5">
    <article class="basis-1/2 grow">
      <h3 class="font-semibold tracking-tight text-lg">Deportes</h3>
      <p class="text-pretty tracking-tight pr-0 sm:pr-10">
        Elige una casa de apuestas con una amplia oferta de deportes, desde los
        populares como fútbol, tenis y baloncesto, hasta opciones menos
        conocidas como el voleibol de playa y rugby. Esto te brindará más
        opciones y oportunidades interesantes para tus apuestas.
      </p>
    </article>
    <article class="basis-1/2 grow">
      <h3 class="font-semibold tracking-tight text-lg">Cuotas o momios</h3>
      <p class="text-pretty tracking-tight pr-0 sm:pr-10">
        Las cuotas o momios son fundamentales al seleccionar una casa de
        apuestas deportivas. Es crucial que ofrezca cuotas competitivas y
        equitativas para cada evento, lo que optimizará tus ganancias.
      </p>
    </article>
  </div>
  <div class="flex flex-wrap sm:flex-nowrap gap-5">
    <article class="basis-1/2 grow">
      <h3 class="font-semibold tracking-tight text-lg">Servicio al Cliente</h3>
      <p class="text-pretty tracking-tight pr-0 sm:pr-10">
        Consulta nuestra reseña para asegurarte de que la plataforma tenga un
        equipo de atención al cliente disponible las 24 horas y en varios
        idiomas, además de verificar la presencia de canales de soporte como
        chat en vivo, correo electrónico o teléfono.
      </p>
    </article>
    <article class="basis-1/2 grow">
      <h3 class="font-semibold tracking-tight text-lg">Plataforma móvil</h3>
      <p class="text-pretty tracking-tight pr-0 sm:pr-10">
        Es importante que la casa de apuestas proporcione una aplicación que sea
        funcional, fácil de utilizar y compatible con tus dispositivos. En otras
        palabras, al utilizar una aplicación bien diseñada y adaptada a tus
        necesidades, podrías disfrutar de una experiencia más eficiente y
        satisfactoria al realizar apuestas.
      </p>
    </article>
  </div>
</section>
