---
const { ...frontmatter } = Astro.props;
---

<span class="text-pretty tracking-tight text-xs">
  Última actualización: <time datetime="2024-09-11"
    >{frontmatter.pubDate || "11 de Septiembre del 2024"}</time
  >
</span>
