<header id="header-nav" class="sticky z-50 top-0 w-full p-4">
  <div class="flex justify-between items-center">
    <!-- Logo -->
    <div>
      <a href="/">
        <img
          src="/favicon.svg"
          alt="Mi casas de apuestas Logo"
          class="border rounded-full"
          width="36"
          height="36"
        />
      </a>
    </div>
    <nav
      class="hidden md:flex flex-grow basis-0 w-full space-x-5 md:justify-center"
    >
      <a
        class="hover:underline-offset-8 hover:underline font-light"
        href="#lista">Lista de Operadores</a
      >
      <a
        class="hover:underline-offset-8 hover:underline font-light"
        href="#apostar">¿Cómo Apostar?</a
      >
      <a
        class="hover:underline-offset-8 hover:underline font-light"
        href="#consideraciones">Consideraciones</a
      >
      <a class="hover:underline-offset-8 hover:underline font-light" href="#faq"
        >FAQ</a
      >
      <a
        class="hover:underline-offset-8 hover:underline font-light"
        href="#footer">Nosotros</a
      >
    </nav>

    <!-- Botón de menú para pantallas pequeñas -->
    <button
      id="menu-toggle"
      class="flex flex-grow basis-0 justify-end text-2xl md:hidden z-50"
    >
      <span id="menu-icon">☰</span>
    </button>

    <!-- Menú de navegación móvil para pantallas pequeñas -->
    <nav
      id="mobile-menu"
      class="hidden bg-black backdrop-blur-3xl w-full flex-col items-center text-center text-2xl fixed top-0 left-0 right-0 min-h-screen place-content-center"
    >
      <a class="my-2 hover:underline hover:underline-offset-8" href="#lista"
        >Lista de Operadores</a
      >
      <a class="my-2 hover:underline hover:underline-offset-8" href="#apostar"
        >¿Cómo Apostar?</a
      >
      <a
        class="my-2 hover:underline hover:underline-offset-8"
        href="#consideraciones">Consideraciones</a
      >
      <a class="my-2 hover:underline hover:underline-offset-8" href="#faq">
        FAQ</a
      >
      <a class="my-2 hover:underline hover:underline-offset-8" href="#footer"
        >Nosotros</a
      >
    </nav>
  </div>
</header>

<!-- Toggle action menu when mobile -->
<script>
  document.addEventListener("DOMContentLoaded", function () {
    const menuToggle = document.getElementById("menu-toggle");
    const mobileMenu = document.getElementById("mobile-menu");
    const menuIcon = document.getElementById("menu-icon");
    const mobileMenuItems = document.querySelectorAll("#mobile-menu a");

    if (!menuToggle || !mobileMenu || !menuIcon) {
      return;
    }

    // Toggle mobile menu visibility
    menuToggle.addEventListener("click", function () {
      mobileMenu.classList.toggle("hidden");
      mobileMenu.classList.toggle("flex");
      menuIcon.textContent = menuIcon.textContent === "☰" ? "✕" : "☰";
    });

    // Close mobile menu when a menu item is clicked
    mobileMenuItems.forEach(function (menuItem) {
      menuItem.addEventListener("click", function () {
        mobileMenu.classList.add("hidden");
        mobileMenu.classList.remove("flex");
        menuIcon.textContent = "☰";
      });
    });
  });
</script>

<!-- Blur when scroll -->
<style>
  #header-nav {
    animation: blur linear both;
    animation-timeline: scroll();
    animation-range: 0 500px;
  }

  @keyframes blur {
    to {
      box-shadow:
        0px 5px 50px -5px rgba(0, 0, 0, 0.1),
        0px 0px 0 1px rgba(0, 0, 0, 0.3);
      background: rgba(0, 0, 0, 0.1);
      backdrop-filter: blur(10px);
    }
  }
</style>
