<section
  class="my-16 sm:my-24 text-balance text-center px-4 sm:px-20 space-y-3 text-[#f0f3ff] text-opacity-90"
>
  <h1
    class="inline-flex mx-auto text-pretty text-3xl sm:text-6xl font-semibold tracking-wide uppercase animate-background-shine bg-[linear-gradient(110deg,#939393,45%,#f0f3ff,70%,#939393)] bg-[length:250%_100%] bg-clip-text text-transparent"
  >
    Top Casas De Apuestas Deportivas
  </h1>
  <p class="font-light">
    Te ofrecemos comparaciones detalladas de las principales casas de apuestas
    en Latinoamérica, para que puedas tomar la mejor decisión al momento de
    apostar en línea
  </p>
  <p class="font-extralight">2024</p>
</section>
