<section class="space-y-5 flex flex-col justify-center items-center mb-10">
  <span class="text-center text-balance px-5">
    Derechos Reservados © 2024 - micasadeapuesta.com
  </span>
  <section class="flex flex-row justify-center items-center mx-auto space-x-5">
    <a
      href="https://instagram.com/micasadeapuesta/"
      target="_blank"
      rel="external noopener noreferrer follow"
      class="hover:text-gray-400 hover:scale-110"
      aria-label="Ir a la pagina de Instagram de Mi Casa de Apuesta"
    >
      <img
        src="/social/instagram.svg"
        alt="Ir a la página de Instagram"
        width="24"
        height="24"
        decoding="async"
        loading="lazy"
        class="w-6 h-6"
      />
    </a>
    <a
      href="https://facebook.com/micasadeapuestaLatam"
      target="_blank"
      rel="external noopener noreferrer follow"
      class="hover:text-gray-400 hover:scale-110"
      aria-label="Ir a la pagina de Facebook de Mi Casa de Apuesta"
    >
      <img
        src="/social/fb.svg"
        alt="Ir a la página de Facebook"
        width="24"
        height="24"
        class="rounded-sm"
        decoding="async"
        loading="lazy"
        class="w-6 h-6"
      />
    </a>
  </section>
</section>
