<div class="grid grid-cols-3 w-full gap-3 mx-auto my-10">
  <!-- E-Sports -->
  <div
    class="flex w-full h-auto py-5 rounded-xl border-2 border-slate-800 bg-gradient-to-t from-black/60 to-slate-950"
  >
    <div class="flex flex-col justify-center items-center mx-auto">
      <img
        src="/sports/esports.svg"
        alt="Icono de Sports"
        width="60"
        height="60"
        loading="lazy"
      />
      <span class="text-xl sm:text-2xl w-full">Esports</span>
    </div>
  </div>

  <!-- Sports -->
  <div
    class="flex w-full h-auto py-5 rounded-xl border-2 border-slate-800 bg-gradient-to-t from-black/60 to-slate-950"
  >
    <div class="flex flex-col justify-center items-center mx-auto">
      <img
        src="/sports/sports.svg"
        alt="Icono de Sports"
        width="60"
        height="60"
        loading="lazy"
      />
      <span class="text-xl sm:text-2xl w-full"> Deportes </span>
    </div>
  </div>

  <!-- Casino -->
  <div
    class="flex w-full h-auto py-5 rounded-xl border-2 border-slate-800 bg-gradient-to-t from-black/60 to-slate-950"
  >
    <div class="flex flex-col justify-center items-center mx-auto">
      <img
        src="/sports/casino.svg"
        alt="Icono de Sports"
        width="60"
        height="60"
        loading="lazy"
      />
      <span class="text-xl sm:text-2xl w-full"> Casino </span>
    </div>
  </div>
</div>
