---
import RightsReserved from "./RightsReserved.astro";
---

<footer
  id="footer"
  class="flex flex-col max-w-screen-md mx-auto space-y-8 p-4 my-10 text-[#f0f3ff]"
>
  <section class="flex flex-col justify-center items-center space-y-5">
    <h2
      class="text-center text-xl text-pretty tracking-tight sm:text-3xl font-bold text-[#f0f3ff] text-opacity-90"
    >
      ACERCA DE NOSOTROS
    </h2>
    <p class="text-center tracking-tight font-light text-pretty">
      Somos un equipo de expertos en apuestas deportivas, dedicados a brindar
      información precisa y comparativas de casas de apuestas. Utilizamos
      tecnologías modernas para ofrecer contenido relevante y actualizado,
      buscando proporcionar una experiencia de usuario única.
    </p>
    <!-- Contáctenos-->
    <a
      href="mailto:lunox.code@gmail.com"
      class="relative inline-flex w-40 h-14 overflow-hidden rounded-full p-[1px] focus:outline-none focus:ring-2 focus:ring-[#f0f3ff] focus:ring-offset-2 focus:ring-offset-[#f0f3ff]"
    >
      <span
        class="absolute inset-[-1000%] animate-[spin_2s_linear_infinite] bg-[conic-gradient(from_90deg_at_50%_50%,#E2CBFF_0%,#393BB2_50%,#E2CBFF_100%)]"
      ></span>
      <span
        class="inline-flex h-full w-full cursor-pointer items-center justify-center rounded-full bg-slate-950 px-3 py-1 font-medium text-white backdrop-blur-3xl"
        aria-label="Envíanos un correo"
      >
        Contáctenos
      </span>
    </a>
  </section>
  <hr />
  <div
    class="flex flex-row w-full font-light px-4 text-center text-sm justify-between items-center"
  >
    <a href="/Terminos-y-Condiciones" class="hover:text-gray-400"
      >Términos y Condiciones</a
    >
    <a href="/Politicas-de-Privacidad-y-Cookies" class="hover:text-gray-400"
      >Política de privacidad y Cookies</a
    >
    <a href="/Juego-Responsable" class="hover:text-gray-400"
      >Juego Responsable</a
    >
  </div>
  <RightsReserved />
</footer>
