---
import RightsReserved from "./RightsReserved.astro";
---

<footer
  id="footer"
  class="flex flex-col max-w-screen-md mx-auto space-y-8 p-4 my-8 text-[#f0f3ff] text-opacity-90"
>
  <section class="flex flex-col justify-center items-center space-y-5">
    <h2
      class="text-center text-xl text-balance tracking-tight sm:text-3xl font-bold"
    >
      ACERCA DE NOSOTROS
    </h2>
    <p class="text-center tracking-tight text-pretty">
      Somos un equipo de expertos en apuestas deportivas en Latinoamérica,
      dedicados a brindar información precisa y comparativa de casas de apuestas
      del mercado.
    </p>
    <p class="text-center tracking-tight text-pretty">
      Nuestro objetivo es ayudarte a encontrar la mejor casa de apuestas para
      tus necesidades, por esta razón, realizamos una investigación exhaustiva y
      compartimos nuestros conocimientos en guías y reseñas, para que puedas
      tomar una decisión informada.
    </p>
    <!-- Contáctenos-->
    <a
      href="mailto:dev.lunox@gmail.com"
      class="relative inline-flex w-40 h-14 overflow-hidden rounded-full p-[1px] focus:outline-none focus:ring-2 focus:ring-[#f0f3ff] focus:ring-offset-2 focus:ring-offset-[#f0f3ff]"
    >
      <span
        class="absolute inset-[-1000%] animate-[spin_2s_linear_infinite] bg-[conic-gradient(from_90deg_at_50%_50%,#E2CBFF_0%,#393BB2_50%,#E2CBFF_100%)]"
      ></span>
      <span
        class="inline-flex h-full w-full cursor-pointer items-center justify-center rounded-full bg-slate-950 px-3 py-1 font-medium text-white backdrop-blur-3xl"
        aria-label="Envíanos un correo"
      >
        Contáctenos
      </span>
    </a>
  </section>
  <hr />
  <div class="flex flex-col justify-center items-center mx-auto gap-3">
    <img
      src="/support/+18.svg"
      alt="Icono de contenido solamente para +18"
      width="32"
      height="32"
    />
    <p class="text-pretty text-center tracking-tight">
      El apostar puede ser una forma divertida y emocionante de pasar el tiempo.
      Sin embargo, es importante jugar de forma segura y responsable. Si tienes
      problemas con el juego, busca ayuda.
    </p>
  </div>
  <div
    class="flex flex-row w-full tracking-tight gap-2 text-center justify-between items-center"
  >
    <a
      href="/terminos-y-condiciones/"
      class="hover:underline hover:underline-offset-4">Términos y Condiciones</a
    >
    <a
      href="/politicas-de-privacidad-y-cookies/"
      class="hover:underline hover:underline-offset-4"
      >Política de privacidad y Cookies</a
    >
    <a
      href="/juego-responsable/"
      class="hover:underline hover:underline-offset-4">Juego Responsable</a
    >
  </div>
  <RightsReserved />
</footer>
