<div class="space-y-5 flex flex-col justify-center items-center mb-16">
  <p
    class="text-center text-balance px-5 tracking-tight font-light text-white text-sm"
  >
    Derechos Reservados © 2024 - micasadeapuesta.com | Mejores Casas de
    Apuestas
  </p>
  <div class="flex flex-row justify-center items-center mx-auto space-x-5">
    <a
      href="https://www.instagram.com/micasadeapuesta/"
      target="_blank"
      rel="external noopener nofollow"
      class="hover:text-gray-400 hover:scale-110"
      aria-label="Ir a la pagina de Instagram de Mi Casa de Apuesta"
    >
      <img src="/social/instagram.svg" alt="Instagram" width="24" height="24" />
    </a>
    <a
      href="https://www.facebook.com/micasadeapuestaLatam"
      target="_blank"
      rel="external noopener nofollow"
      class="hover:text-gray-400 hover:scale-110"
      aria-label="Ir a la pagina de Facebook de Mi Casa de Apuesta"
    >
      <img
        src="/social/fb.svg"
        alt="Facebook"
        width="24"
        height="24"
        class="rounded-sm"
      />
    </a>
  </div>
</div>
