<div class="space-y-5 mb-16">
  <hr />
  <p
    class="text-center text-balance px-5 tracking-tight font-light text-white text-sm"
  >
    Derechos Reservados © 2024 - micasadeapuesta.com | Mejores Casas de
    Apuestas
  </p>
</div>
