---
import Card from "./Card.astro";
import { operators } from "../lib/data";
import "../styles/card-blur/style.css";
---

<section id="casas" class="flex flex-col mb-12 sm:mb-20 space-y-8 w-full p-4">
  <div class="flex flex-row mx-auto w-full">
    <div class="flex flex-col justify-end items-end w-full space-y-2">
      <span>Próximamente</span>
      <div class="flex flex-row w-full justify-end gap-4">
        <a
          href="https://c1li7tt5ck.com/?serial=43249&creative_id=489&anid="
          target="_blank"
          rel="external noopener nofollow"
          class="flex hover:animate-pulse"
        >
          <img
            src="/operators/nobg/leon.svg"
            alt="Próximamente Leon"
            width="70"
            height="70"
          />
        </a>
        <a
          href="https://3646783.gloryjourney.in"
          target="_blank"
          rel="external noopener nofollow"
          class="flex hover:animate-pulse"
        >
          <img
            src="/operators/nobg/megapari.svg"
            alt="Próximamente Megapari"
            width="100"
            height="150"
          />
        </a>
      </div>
    </div>
  </div>
  {
    operators.map((info, index) => (
      <article
        class={`${
          index < 3
            ? index === 0
              ? "shadow-[#ffd900]/40 card-blur shadow-md bg-gradient-to-t from-[#ffd900]/15 to-transparent rounded-lg"
              : index === 1
                ? "shadow-[#C0C0C0]/40 card-blur shadow-md bg-gradient-to-t from-[#C0C0C0]/15 to-transparent rounded-lg"
                : "shadow-[#cd8032dc]/40 card-blur shadow-md bg-gradient-to-t from-[#cd8032dc]/20 to-transparent rounded-lg"
            : "shadow-gray-800 shadow-md card-blur bg-gradient-to-t from-gray-800/10 to-transparent rounded-lg"
        }`}
      >
        <Card {...info} />
      </article>
    ))
  }
</section>
