<section
  id="apostar"
  class="flex flex-col max-w-screen-md mx-auto space-y-5 p-4 my-40 text-[#f0f3ff] text-opacity-90"
>
  <h2
    class="text-center text-xl text-pretty tracking-tight sm:text-3xl font-bold mb-3"
  >
    ¿CÓMO EMPEZAR A APOSTAR?
  </h2>
  <ul>
    <li class="mb-5 flex flex-row">
      <span class="w-8 h-8 mr-1">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="36"
          height="36"
          viewBox="0 0 36 36"
          fill="none"
        >
          <path
            d="M19.4999 30V5.25H16.7489L12.1499 8.7L13.9499 11.1L16.4999 9.1875V30H19.4999Z"
            fill="#F0F3FF"></path>
        </svg>
      </span>
      <div class="flex flex-col">
        <h3 class="font-semibold text-balance tracking-tight text-lg">
          Elige una casa de apuestas de la lista
        </h3>
        <p class="tracking-tight text-pretty">
          Revise cuidadosamente la lista, lea la reseña y seleccione la casa de
          apuestas que cumple con sus necesidades. Si ves que hay un <strong
            >código de promoción</strong
          > disponible, cópielo para aprovechar al máximo tu bonificación. Luego
          haz clic en <strong>Jugar Ahora</strong> o <strong
            >Reclamar Bono</strong
          >, te redireccionaremos al siguiente paso.
        </p>
      </div>
    </li>
    <li class="mb-5 flex flex-row">
      <span class="w-8 h-8 mr-1">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="36"
          height="36"
          viewBox="0 0 36 36"
          fill="none"
        >
          <path
            d="M10.5 12C10.5 10.0109 11.2902 8.10322 12.6967 6.6967C14.1032 5.29018 16.0109 4.5 18 4.5H19.5V4.65C22.923 5.3445 25.5 8.3715 25.5 12V12.0975C25.5 14.385 24.4695 16.5525 22.6935 17.994L13.5 25.464V27H25.5V30H10.5V25.464C10.5001 25.018 10.5996 24.5776 10.7914 24.1748C10.9831 23.7721 11.2623 23.4172 11.6085 23.136L20.802 15.666C21.3325 15.2349 21.7602 14.6908 22.054 14.0735C22.3477 13.4562 22.5001 12.7811 22.5 12.0975V12C22.5 10.8065 22.0259 9.66193 21.182 8.81802C20.3381 7.97411 19.1935 7.5 18 7.5C16.8065 7.5 15.6619 7.97411 14.818 8.81802C13.9741 9.66193 13.5 10.8065 13.5 12V13.5H10.5V12Z"
            fill="#F0F3FF"></path>
        </svg>
      </span>
      <div class="flex flex-col">
        <h3 class="font-semibold tracking-tight text-lg">Registro</h3>
        <p class="tracking-tight text-pretty">
          <span class="underline">Este proceso es crucial</span>, busca la
          sección <strong>código promocional</strong>. Una vez ahí, introduce el
          código copiado. Luego, debes completar el registro proporcionando
          información personal, detallada y precisa en el formulario.
        </p>
      </div>
    </li>
    <li class="mb-5 flex flex-row">
      <span class="w-8 h-8 mr-1">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="36"
          height="36"
          viewBox="0 0 36 36"
          fill="none"
        >
          <path
            d="M11.25 6H24.75V10.53L18.354 15.009C20.3079 15.1047 22.147 15.9601 23.4791 17.3926C24.8113 18.8251 25.531 20.7214 25.4848 22.6771C25.4386 24.6327 24.6302 26.4929 23.2319 27.861C21.8336 29.229 19.9562 29.9966 18 30H17.25C15.2609 30 13.3532 29.2098 11.9467 27.8033C10.5402 26.3968 9.75 24.4891 9.75 22.5H12.75C12.75 23.6935 13.2241 24.8381 14.068 25.682C14.9119 26.5259 16.0565 27 17.25 27H18C19.1935 27 20.3381 26.5259 21.182 25.682C22.0259 24.8381 22.5 23.6935 22.5 22.5C22.5 21.3065 22.0259 20.1619 21.182 19.318C20.3381 18.4741 19.1935 18 18 18H14.25V14.22L21.705 9H11.25V6Z"
            fill="#F0F3FF"></path>
        </svg>
      </span>
      <div class="flex flex-col">
        <h3 class="font-semibold tracking-tight text-lg">Primer Depósito</h3>
        <p class="tracking-tight text-pretty">
          Las casas de apuestas ofrecen una variedad de opciones de depósito,
          que pueden incluir tarjetas de crédito y débito, monederos
          electrónicos, transferencias bancarias y más. Selecciona el de tu
          preferencia.
        </p>
        <p class="mt-4"><strong>IMPORTANTE:</strong></p>
        <div class="space-y-2">
          <p class="tracking-tight text-pretty">
            Después de realizar tu <stroog>primer depósito</stroog>, recibirás
            el <strong>Bono de Bienvenida</strong> automáticamente. Sin embargo,
            si no lo recibes, debes ponerte en contacto con el soporte.
          </p>
          <p class="tracking-tight text-pretty">
            Recuerda revisar siempre los términos y condiciones para conocer
            cualquier requisito o restricción asociada con la promoción.
          </p>
        </div>
      </div>
    </li>
    <li class="mb-5 flex flex-row">
      <span class="w-8 h-8 mr-1">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="36"
          height="36"
          viewBox="0 0 36 36"
          fill="none"
        >
          <path
            d="M19.4835 6H23.25V21H26.25V24H23.25V30H20.25V24H9V20.5155L19.4835 6ZM20.25 21V10.062L12.351 21H20.25Z"
            fill="#F0F3FF"></path>
        </svg>
      </span>
      <div class="flex flex-col text-pretty">
        <h3 class="font-semibold tracking-tight text-lg">Apostar</h3>
        <p class="tracking-tight text-pretty">
          A partir de aquí, accederás a diversos mercados de apuestas
          deportivas, esports y opciones de juegos de casino. Podrás realizar
          apuestas utilizando los fondos depositados o bien utilizando las <strong
            >jugadas gratis</strong
          > que algunas casas de apuestas ofrecen.
        </p>
      </div>
    </li>
    <li class="mb-5 flex flex-row">
      <span class="w-8 h-8 mr-1">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="36"
          height="36"
          viewBox="0 0 36 36"
          fill="none"
        >
          <path
            d="M11.25 6H24V9H14.25V15H18C19.7288 15.0002 21.4045 15.5974 22.7438 16.6907C24.0831 17.784 25.0037 19.3062 25.35 21H25.5V22.5C25.5 24.4891 24.7098 26.3968 23.3033 27.8033C21.8968 29.2098 19.9891 30 18 30H17.25C15.2609 30 13.3532 29.2098 11.9467 27.8033C10.5402 26.3968 9.75 24.4891 9.75 22.5H12.75C12.75 23.6935 13.2241 24.8381 14.068 25.682C14.9119 26.5259 16.0565 27 17.25 27H18C19.1935 27 20.3381 26.5259 21.182 25.682C22.0259 24.8381 22.5 23.6935 22.5 22.5C22.5 21.3065 22.0259 20.1619 21.182 19.318C20.3381 18.4741 19.1935 18 18 18H11.25V6Z"
            fill="#F0F3FF"></path>
        </svg>
      </span>
      <div class="flex flex-col text-pretty">
        <h3 class="font-semibold tracking-tight text-lg">
          Hacer la verificación de identidad antes de retirar
        </h3>
        <p class="tracking-tight text-pretty">
          Antes de retirar fondos, verifique su identidad proporcionando los
          documentos que solicita la casa de apuesta. <strong
            >Sin la verificación, no podrás retirar tus ganancias</strong
          >. Esta medida garantiza seguridad y transparencia, cumpliendo con
          regulaciones de juego responsable.
        </p>
      </div>
    </li>
  </ul>
</section>
