<section
  id="elegir"
  class="flex flex-col max-w-screen-md mx-auto space-y-5 p-5 my-10 text-[#f0f3ff] text-opacity-90"
>
  <h2
    class="text-center text-xl text-balance tracking-tight sm:text-3xl font-bold mb-3"
  >
    ¿CÓMO ELEGIR LA MEJOR CASA DE APUESTAS DEPORTIVAS EN LÍNEA?
  </h2>
  <p class="text-pretty tracking-tight">
    Aquí te explicamos los criterios que tomamos en cuenta al evaluar casas de
    apuestas deportivas y que recomendamos a nuestros usuarios considerar para
    tomar decisiones acertadas.
  </p>
  <div class="flex flex-wrap sm:flex-nowrap gap-5">
    <article class="basis-1/2 grow">
      <h3
        class="font-semibold tracking-tight text-lg underline-offset-4 decoration-4 underline decoration-[#8678f9] mb-3"
      >
        Bonos y Promociones
      </h3>
      <div class="space-y-3">
        <p class="text-pretty tracking-tight">
          Los bonos y promociones ofrecidos por una casa de apuestas pueden
          marcar la diferencia en tus ganancias y experiencia general de juego.
          Al elegir una plataforma, busca aquellas que ofrezcan bonos de
          bienvenida generosos, bonificaciones por depósito y otras promociones
          atractivas. Estos incentivos pueden aumentar significativamente tu
          saldo de juego y brindarte más oportunidades de ganar.
        </p>
      </div>
    </article>
    <article class="basis-1/2 grow">
      <h3
        class="font-semibold tracking-tight text-lg underline-offset-4 decoration-4 underline decoration-[#8678f9] mb-3"
      >
        Métodos de Pago
      </h3>
      <div class="space-y-3">
        <p class="text-pretty tracking-tight">
          La disponibilidad de una amplia variedad de métodos de pago confiables
          es fundamental al seleccionar una casa de apuestas en línea. Busca
          plataformas que ofrezcan opciones de pago seguras y convenientes, que
          incluyan billeteras electrónicas, transferencias bancarias y tarjetas
          de crédito/débito. La facilidad para depositar y retirar fondos
          garantizará una experiencia de juego sin complicaciones.
        </p>
      </div>
    </article>
  </div>
  <div class="flex flex-wrap sm:flex-nowrap gap-5">
    <article class="basis-1/2 grow">
      <h3
        class="font-semibold tracking-tight text-lg underline-offset-4 decoration-4 underline decoration-[#8678f9] mb-3"
      >
        Variedad de Deportes
      </h3>
      <p class="text-pretty tracking-tight">
        Una amplia selección de deportes disponibles para apostar es un
        indicador de una casa de apuestas de calidad. Al elegir una plataforma,
        busca aquellas que ofrezcan una amplia gama de opciones deportivas,
        desde los eventos más populares hasta los menos conocidos. Esto te
        brindará más oportunidades para explorar diferentes mercados y
        diversificar tus apuestas.
      </p>
    </article>
    <article class="basis-1/2 grow">
      <h3
        class="font-semibold tracking-tight text-lg underline-offset-4 decoration-4 underline decoration-[#8678f9] mb-3"
      >
        Cuotas o momios
      </h3>
      <p class="text-pretty tracking-tight">
        Las cuotas competitivas y justas son esenciales para maximizar tus
        ganancias a largo plazo. Al seleccionar una casa de apuestas, asegúrate
        de que ofrezcan cuotas competitivas en una variedad de eventos
        deportivos. Esto te permitirá obtener el mejor valor posible en tus
        apuestas y aumentar tu rentabilidad a lo largo del tiempo.
      </p>
    </article>
  </div>
  <div class="flex flex-wrap sm:flex-nowrap gap-5">
    <article class="basis-1/2 grow">
      <h3
        class="font-semibold tracking-tight text-lg underline-offset-4 decoration-4 underline decoration-[#8678f9] mb-3"
      >
        Servicio al Cliente
      </h3>
      <p class="text-pretty tracking-tight">
        Un sólido servicio al cliente es vital para resolver cualquier problema
        o inquietud que puedas tener durante tu experiencia de juego. Busca
        plataformas que ofrezcan un servicio al cliente receptivo y accesible
        las 24 horas del día, los 7 días de la semana. La disponibilidad de
        múltiples canales de comunicación, como chat en vivo, correo electrónico
        y teléfono, garantizará que recibas asistencia rápida y eficiente cuando
        la necesites.
      </p>
    </article>
    <article class="basis-1/2 grow">
      <h3
        class="font-semibold tracking-tight text-lg underline-offset-4 decoration-4 underline decoration-[#8678f9] mb-3"
      >
        Plataforma móvil
      </h3>
      <p class="text-pretty tracking-tight">
        En la era digital actual, la disponibilidad de una aplicación móvil
        funcional es fundamental para una experiencia de juego óptima. Al
        seleccionar una casa de apuestas, busca aquellas que ofrezcan una
        aplicación móvil intuitiva y fácil de usar. Esto te permitirá realizar
        apuestas sobre la marcha y acceder a tu cuenta desde cualquier lugar y
        en cualquier momento, proporcionándote una mayor flexibilidad y
        conveniencia.
      </p>
    </article>
  </div>
</section>
