---
const { ...info } = Astro.props;
---

<details
  open={info.open}
  id={`accordion_${Math.random().toString(36).substring(2, 15)}`}
  class="p-4 shadow-gray-600 shadow-sm rounded-sm"
>
  <summary
    class="custom-summary flex flex-row justify-between mx-auto space-x-4"
  >
    <img
      src="/others/arrow-faqs.svg"
      alt="Icono de flecha preguntas frecuentes"
      title="Icono de flecha preguntas frecuentes"
      width="18"
      height="18"
      decoding="async"
      loading="lazy"
      class="w-4 h-5 rotate-img"
    />
    <span class="flex-1 flex pr-5 font-bold mb-5">
      {info.question}
    </span>
  </summary>
  <p class="answer-content mb-5 tracking-tight text-pretty">
    {info.answer}
  </p>
</details>

<style>
  /* Oculta la flecha predeterminada en todos los navegadores */
  summary {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  /* Especial para WebKit (Safari) */
  summary::-webkit-details-marker {
    display: none;
  }

  /* Especial para Firefox */
  details[open] summary::marker {
    display: none;
  }

  .rotate-img {
    transform: rotate(180deg);
    transition: transform 0.3s ease-in-out;
  }

  details[open] .rotate-img {
    transform: rotate(270deg);
  }
</style>
