---
import Date from "../components/Date.astro";
---

<section class="mt-10 sm:mt-16 mb-10 text-center px-4 sm:px-36 space-y-3">
  <h1
    class="mb-3 bg-gradient-to-t from-[#f0f3ff] to-[#6d6d6d] bg-clip-text text-transparent text-2xl md:text-4xl font-semibold text-pretty"
  >
    Las Mejores Casas De Apuestas Deportivas en Latinoamérica
  </h1>
  <p>
    Descubre reseñas actualizadas de las principales casas de apuestas
    deportivas 2024. Encuentra información detallada sobre cuotas competitivas,
    métodos de pago, atractivos bonos y códigos promocionales y mucho más.
    Operadores 100% seguros.
  </p>
  <Date />
</section>
