<section
  class="my-14 sm:my-20 text-balance text-center px-4 sm:px-20 space-y-3 text-[#f0f3ff] text-opacity-90"
>
  <h1
    class="mb-8 bg-gradient-to-t text-pretty from-[#6d6d6d] to-[#f0f3ff] bg-clip-text text-4xl text-transparent md:text-6xl font-bold"
  >
    Las Mejores Casas De Apuestas Deportivas en Latinoamérica
  </h1>
  <p class="text-pretty tracking-tight text-lg">
    En micasadeapuesta.com, accede a reseñas detalladas de las principales casas
    de apuestas deportivas en Latinoamérica. Nuestros análisis exhaustivos te
    brindan la información clave para tomar decisiones inteligentes desde el
    inicio y aumentar tus posibilidades de éxito.
  </p>
  <p class="text-pretty tracking-tight text-lg">
    Aquí descubrirás todo lo que necesitas saber: métodos de pago seguros,
    códigos promocionales, cuotas y promociones irresistibles. Nuestras reseñas
    te lo cuentan todo para que disfrute de una experiencia de juego emocionante
    y segura.
  </p>
  <p class="text-pretty tracking-tight text-lg font-semibold">
    ¡Tu próxima gran jugada está a solo un clic de distancia!
  </p>
  <p class="text-pretty tracking-tight text-xs text-white/70">
    Actualizado: <time datetime="2024-03-21">21 de Marzo del 2024</time>
  </p>
</section>
