---
const { ...info } = Astro.props;
---

<section
  id="pagos"
  class="my-20 flex flex-col w-full mx-auto space-y-10 text-[#f0f3ff] text-opacity-90"
>
  <h2
    class="text-center text-2xl text-balance tracking-tight uppercase sm:text-4xl font-bold"
  >
    MÉTODOS DE DEPÓSITOS Y RETIROS DE {info.name}
  </h2>
  <!-- Payments Methods -->
  <article>
    <div class="space-y-2">
      <p class="text-pretty tracking-tight">
        En cuanto a los métodos de pago, <strong>{info.name}</strong> ofrece una
        amplia variedad de opciones para que los usuarios puedan elegir el que más
        les convenga. Los depósitos y retiros son gratuitos o tienen comisiones muy
        bajas.
      </p>
      <p class="text-pretty tracking-tight">
        Tenga en cuenta que los métodos de pago disponibles pueden variar según
        el país y el tipo de moneda.
      </p>
      <p class="text-pretty tracking-tight">
        Estas son las opciones más populares de pago entre los jugadores
        actuales y que se caracterizan por su rapidez, facilidad y seguridad:
      </p>
    </div>

    <!-- Payments Methods -->
    <div
      class="flex flex-row flex-wrap sm:flex-nowrap w-full gap-10 mx-auto mt-10"
    >
      <!-- Tradicional Payments -->
      <div
        class="flex flex-wrap w-full sm:w-1/2 h-auto py-10 px-5 border rounded-xl border-t-2 border-slate-800 bg-gradient-to-t from-black/60 to-slate-950 focus:outline-none focus:border-[#f0f3ff]"
      >
        <h3
          class="inline-flex mx-auto text-center text-balance tracking-tight text-xl sm:text-2xl font-semibold mb-2"
        >
          Métodos de pago más comunes
        </h3>
        <div
          class="flex flex-wrap justify-center items-center mx-auto p-2 gap-1"
        >
          <img
            src="/payments/common/visa.svg"
            alt="Visa"
            width="44"
            height="44"
            loading="lazy"
          />
          <img
            src="/payments/common/mastercard.svg"
            alt="Master Card"
            width="40"
            height="40"
            loading="lazy"
          />
          <img
            src="/payments/common/neteller.svg"
            alt="Neteller"
            width="72"
            height="72"
            loading="lazy"
          />
          <img
            src="/payments/common/skrill.svg"
            alt="Skrill"
            width="60"
            height="60"
            loading="lazy"
          />
          <img
            src="/payments/common/payz.svg"
            alt="Payz"
            width="60"
            height="60"
            loading="lazy"
          />
          <img
            src="/payments/common/paysafe-card.svg"
            alt="Paysafe Card"
            width="72"
            height="72"
            loading="lazy"
          />
          <img
            src="/payments/common/muchbetter.svg"
            alt="MuchBetter"
            width="80"
            height="80"
            loading="lazy"
          />
          <img
            src="/payments/common/astropay.svg"
            alt="AstroPay"
            width="72"
            height="72"
            loading="lazy"
          />
          <img
            src="/payments/common/pay4fun.svg"
            alt="Pay4fun"
            width="54"
            height="54"
            loading="lazy"
          />
        </div>
      </div>

      <!-- Crypto Payments -->
      <div
        class="flex flex-wrap w-full sm:w-1/2 h-auto py-10 px-5 border rounded-xl border-t-2 border-slate-800 bg-gradient-to-t from-black/60 to-slate-950 focus:outline-none focus:border-[#f0f3ff]"
      >
        <h3
          class="inline-flex mx-auto text-center text-balance tracking-tight text-xl sm:text-2xl font-semibold mb-2"
        >
          Criptomonedas más comunes
        </h3>
        <div
          class="flex flex-wrap justify-center items-center mx-auto p-2 gap-3"
        >
          <img
            src="/payments/crypto/litecoin.svg"
            alt="Litecoin"
            width="44"
            height="44"
            loading="lazy"
          />
          <img
            src="/payments/crypto/bitcoin.svg"
            alt="Bitcoin"
            width="44"
            height="44"
            loading="lazy"
          />
          <img
            src="/payments/crypto/tether.svg"
            alt="Tether"
            width="48"
            height="48"
            loading="lazy"
          />
        </div>
      </div>
    </div>

    <!-- Tiempo de Acreditaciòn -->
    <div class="flex flex-col w-full mx-auto my-10">
      <h3 class="font-semibold text-balance tracking-tight text-lg">
        TIEMPOS DE ACREDITACIÓN
      </h3>
      <div class="space-y-2">
        <p class="text-pretty tracking-tight">
          En general, los tiempos de acreditación de los pagos en <strong
            >{info.name}</strong
          > son bastante rápidos. Los depósitos suelen ser inmediatos, o tardan un
          máximo de 24 horas en acreditarse. Los retiros, en cambio, pueden tardar
          un poco más, dependiendo del método de pago elegido.
        </p>
        <p class="text-pretty tracking-tight">
          Tanto los depósitos, como retiros a través de criptomonedas, suelen
          ser instantáneos.
        </p>
      </div>
    </div>
  </article>
</section>
