---
const { ...info } = Astro.props;
---

<section
  id="pagos"
  class="my-20 flex flex-col w-full mx-auto space-y-10 text-[#f0f3ff] text-opacity-90"
>
  <h2
    class="text-center text-2xl text-balance tracking-tight uppercase sm:text-4xl font-bold"
  >
    MÉTODOS DE DEPÓSITOS Y RETIROS DE {info.name}
  </h2>
  <!-- Payments Methods -->
  <article>
    <div class="space-y-2">
      <p class="text-pretty tracking-tight">
        Como lo mencionamos al principio de esta reseña, <strong
          >{info.name}</strong
        >
        es una casa de apuestas que solo acepta depósitos y retiros en criptomonedas.
        Sin embargo, las criptomonedas ofrecen una serie de ventajas sobre los métodos
        de pago tradicionales, como:
      </p>
      <ul class="list-disc list-inside tracking-tight">
        <li>
          Son más seguras, ya que utilizan la tecnología blockchain para
          registrar las transacciones.
        </li>
        <li>
          Son más rápidas, ya que las transacciones se procesan
          instantáneamente.
        </li>
        <li>
          Son más baratas, ya que las comisiones de las transacciones son
          menores.
        </li>
      </ul>
    </div>
    <div class="space-y-2">
      <p class="text-pretty tracking-tight mt-3">
        Por otro lado, las criptomonedas también presentan algunas desventajas,
        como:
      </p>
      <ul class="list-disc list-inside tracking-tight">
        <li>
          Son más complejas de usar que los métodos de pago tradicionales.
        </li>
        <li>
          Todavía no son tan aceptadas como los métodos de pago tradicionales.
        </li>
      </ul>
      <p class="text-pretty tracking-tight">
        A continuación, te presentamos las opciones más populares entre los
        jugadores en la actualidad, destacando por su rapidez, facilidad y
        seguridad en las transacciones:
      </p>
    </div>

    <!-- Payments Methods -->
    <div
      class="flex flex-row flex-wrap sm:flex-nowrap w-full gap-10 mx-auto mt-10"
    >
      <!-- Tradicional Payments -->
      <div
        class="flex flex-wrap w-full sm:w-1/2 h-auto py-10 px-5 border rounded-xl border-t-2 border-slate-800 bg-gradient-to-t from-black/60 to-slate-950 focus:outline-none focus:border-[#f0f3ff]"
      >
        <h3
          class="inline-flex mx-auto text-center text-balance tracking-tight text-xl sm:text-2xl font-semibold mb-2"
        >
          Métodos de pago más comunes
        </h3>
        <div
          class="flex flex-wrap justify-center items-center mx-auto p-2 gap-2"
        >
          <img
            src="/payments/common/astropay.svg"
            alt="AstroPay"
            width="96"
            height="96"
            loading="lazy"
          />
          <img
            src="/payments/common/muchbetter.svg"
            alt="Much Better"
            width="96"
            height="96"
            loading="lazy"
          />
          <img
            src="/payments/common/pix.svg"
            alt="PIX"
            width="96"
            height="96"
            loading="lazy"
          />
        </div>
      </div>

      <!-- Crypto Payments -->
      <div
        class="flex flex-wrap w-full sm:w-1/2 h-auto py-10 px-5 border rounded-xl border-t-2 border-slate-800 bg-gradient-to-t from-black/60 to-slate-950 focus:outline-none focus:border-[#f0f3ff]"
      >
        <h3
          class="inline-flex mx-auto text-center text-balance tracking-tight text-xl sm:text-2xl font-semibold mb-2"
        >
          Criptomonedas más comunes
        </h3>
        <div
          class="flex flex-wrap justify-center items-center mx-auto p-2 gap-3"
        >
          <img
            src="/payments/crypto/litecoin.svg"
            alt="Litecoin"
            width="36"
            height="36"
            loading="lazy"
          />
          <img
            src="/payments/crypto/bitcoin.svg"
            alt="Bitcoin"
            width="36"
            height="36"
            loading="lazy"
          />
          <img
            src="/payments/crypto/ethereum.svg"
            alt="Etherum"
            width="24"
            height="24"
            loading="lazy"
          />
          <img
            src="/payments/crypto/tron.svg"
            alt="Tron"
            width="32"
            height="32"
            loading="lazy"
          />
          <img
            src="/payments/crypto/ripple.svg"
            alt="Riplle"
            width="32"
            height="32"
            loading="lazy"
          />
          <img
            src="/payments/crypto/tether.svg"
            alt="Tether"
            width="36"
            height="36"
            loading="lazy"
          />
          <img
            src="/payments/crypto/dai.svg"
            alt="Dai"
            width="32"
            height="32"
            loading="lazy"
          />
          <img
            src="/payments/crypto/xrp.svg"
            alt="XRP"
            width="32"
            height="32"
            loading="lazy"
          />
          <img
            src="/payments/crypto/metamask.svg"
            alt="Metamask"
            width="32"
            height="32"
            loading="lazy"
          />
          <img
            src="/payments/crypto/bnb.svg"
            alt="BNB"
            width="36"
            height="36"
            loading="lazy"
          />
          <img
            src="/payments/crypto/link.svg"
            alt="Link"
            width="32"
            height="32"
            loading="lazy"
          />
          <img
            src="/payments/crypto/ape.svg"
            alt="Ape"
            width="32"
            height="32"
            loading="lazy"
          />
        </div>
      </div>
    </div>

    <!-- Tiempo de Acreditaciòn -->
    <div class="flex flex-col w-full mx-auto my-10">
      <h3 class="font-semibold text-balance tracking-tight text-lg">
        TIEMPOS DE ACREDITACIÓN
      </h3>
      <div class="space-y-2">
        <p class="text-pretty tracking-tight">
          En <strong>{info.name}</strong>, los depósitos en criptomonedas se
          procesan instantáneamente. Los retiros en criptomonedas muy rara vez
          pueden llegar a procesarse en un plazo de 24 horas, normalmente son
          instantáneamente.
        </p>
      </div>
    </div>
  </article>
</section>
