#header-nav {
  animation: blur linear both;
  animation-timeline: scroll();
  animation-range: 0 500px;
  border-color: #8678f9;
}

@keyframes blur {
  to {
    box-shadow: 0px 5px 50px -5px rgba(0, 0, 0, 0.1),
      0px 0px 0 1px rgba(0, 0, 0, 0.3);
    /* background: black; */
    backdrop-filter: blur(70px);
    background: #020617;
    border-bottom: 1px solid #8678f9;
  }
}
